<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
  <!-- Chat icon -->
  <div class="btn chat-logo container"  >
    <div class="my-chat" >
      <i class="chat-icon far fa-comment-dots"></i>
    </div>
  </div>

  <!-- Chat body -->
  <div class="container">
    <div class="chat">
      <div class="header-chat-box ">
        <div>
          <img class="header-chat-img" src="https://s3.ivisa.com/website-assets/blog/id-photo2.jpg" alt="">
        </div>
        <div>
          <p class="header-chat-meneger-name">Benjamin</p>
        </div>
        <div class="header-chat-close">

          <a href="##" class="close-chat">
            <i  class="header-chat-close-icon btn light far fa-times-circle"></i>
          </a>
        </div>
        <div class="container" style=" background-color: #2A6049;">

          <hr class="header-chat-hr">
        </div>

      </div>
      <div>
        <div class="body-chat box">

          <div>
            <p>
              <i class="far fa-smile"></i> &nbsp; Let's Chat!
            </p>
            <p>
              Ask us any question.
            </p>
            <p>
              <i class="fas fa-bolt"></i> &nbsp;  We'll reply as soon as we can
            </p>
          </div>

        </div>
        <div class="container chat-date">
          <p class="chat-date-text">
            <i>13.04.2021</i>
          </p>
        </div>

      </div>

      <div class="container footer-chat-block" >

        <hr class="send-message-hr">


        <div class="container chat-footer">
          <a href="##" style="text-decoration: none;">
            <i class="fas fa-microphone-alt"></i>
          </a>


          <input class="chat-footer-input" type="text">

          <button class="light chat-footer-button" >Send</button>
        </div>
      </div>



    </div>
  </div>
</div>
</body>
</html>