<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
  <!-- Second fOOTER -->

  <div class="footer second-footer container">

    <div class="row second-footer-row container">
      <div class="second-footer-block col-4 second-footer-col">
        <div>
          <h5 class="second-footer-title">STORE</h5>
        </div>
        <div class="second-footer-text" >
          <a class="second-footer-text-store"  th:href="@{/shop}">Shop
            All</a>
        </div>
        <div class="second-footer-text">
          <a class="second-footer-text-store"  th:href="@{/shipping}">Shipping
            & Returns</a>
        </div>
        <div class="second-footer-text" >
          <a  class="second-footer-text-store"  th:href="@{/policy}">Store
            Policy</a>
        </div>
        <div class="second-footer-text">
          <a class="second-footer-text-store"  th:href="@{/faq}">FAQ</a>
        </div>
      </div>






      <div class="second-footer-block col-4 second-footer-col">
        <div>
          <h5 class="second-footer-title">ADDRESS</h5>
        </div>
        <div>
          <p class="second-footer-text-adress">500
            Terry Francois Street
          </p>
        </div>
        <div>
          <p  class="second-footer-text-adress">San
            Francisco, CA 94158</p>
        </div>
      </div>




      <div class="second-footer-block col-4 second-footer-col">
        <div>
          <h5 class="second-footer-title">OPENING HOURS</h5>
        </div>
        <div>
          <p class="second-footer-text-opening-hours">5Mon
            - Fri: 7am - 10pm
          </p>
        </div>
        <div>
          <p class="second-footer-text-opening-hours" >
            Saturday: 8am - 10pm</p>
        </div>
        <div>
          <p class="second-footer-text-opening-hours">
            Sunday: 8am - 11pm</p>
        </div>
      </div>


      <div class=" second-footer-block col-4 second-footer-col-email">
        <div class="email-config">
          <div>
            <h5  class="second-footer-title">GET IT FRESH</h5>
          </div>
          <div>
            <p class="second-footer-text-Get-it">
              Email
            </p>
          </div>
          <form action="/" method="post">
          <div class="footer-email">
            <input name="subscribe" class="footer-email email-btn" required id="email" pattern=".+@gmail.com"  type="email">
          </div>
          <div class="second-footer-text" >
            <button class="btn btn-light btn-hover my-button" type="submit">SUBSCRIBE
              NOW</button>
          </div>
          </form>
          <div class="end-footer-icons ">
            <a th:href="@{https://www.youtube.com/user/TheFreshMarketInc/featured}" class="end-footer-icon-a" href="">
              <i class="fab fa-youtube end-footer-icon-i"></i></a>
            <a th:href="@{https://www.instagram.com/thefreshmarket/}" class="end-footer-icon-a" href="" >
              <i class="fab fa-instagram end-footer-icon-i"></i></a>
            <a  th:href="@{https://www.facebook.com/TheFreshMarket/}"  class="end-footer-icon-a" href="" >
              <i class="fab fa-facebook end-footer-icon-i"></i></a>
            <a  th:href="@{https://twitter.com/thefreshmarket}"  class="end-footer-icon-a" href="">
              <i class="fab fa-twitter-square end-footer-icon-i"></i></a>



          </div>

        </div>
      </div>

    </div>










  </div>

  <!-- END TEXT -->
  <div class="container end">
    <p class="end-text">
      © 2021 by Fresh Market
    </p>
  </div>
</div>
</body>
</html>