<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content">

  <nav class="container navbar navbar-default  fixed-top">
    <div class="container  navbar-expand-sm mt-3 fixed navbar-fresh">
      <div class="first-element">
        <a  th:href="@{/}" class="navbar-brand">
          <img class="log-1" src="../gallery/kar.png" alt="" >
          <p class="fresh">
            &nbsp;Fresh Market</p>

        </a>
      </div>
      <div class="second-element-responsive">
        <i class="fas fa-bars"></i>
      </div>

      <div class="second-element" >
        <ul class="navbar-nav ml-auto row" >
          <li class="navbar-item  item-nav-words col">
            <a th:href="@{/}" class="nav-link">Home</a>
          </li>

          <li class="navbar-item item-nav-words col">
            <a  th:href="@{/shop}" class="nav-link">Shop</a>
          </li>

          <li class="navbar-item item-nav-words col">
            <a  th:href="@{/about}" class="nav-link">About</a>
          </li>

          <li class="navbar-item item-nav-words col">
            <a th:href="@{/contact}" class="nav-link">Contact</a>
          </li>

          <li class="navbar-item item-nav-words col">
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/products}" class="nav-link">Admin</a>
          </li>


          <li  class="navbar-item item-nav-words col">
            <a sec:authorize="isAnonymous()"  th:href="@{/loginWithEmail}" class="nav-link log-in-link " style="display: flex">
               Login
            </a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="nav-link log-in-link " style="display: flex">
              Logout
            </a>

          </li>










          <li class="col navbar-item-shop">
            <div class="shop-packet">
              <a href="##" class="nav-link"  >
                <i class="fab fa-shopify logo3">
                </i>
                <p class="products-digit"  th:text="${count}"></p>
              </a>
            </div>
          </li>

        </ul>

      </div>

    </div>

  </nav>
</div>
</body>
</html>