<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">


    <div class="container page-link-class">

        <div class="indicator-page">
            <ul class="pagination" th:if="${products.totalPages > 1}">

                <li class="page-item " th:each="pageNumber : ${numbers}"
                    th:class="${pageNumber == products.number} ? active">
                    <a class="page-link" th:href="@{'/shop?page='+${pageNumber}+'&property='+${property}+'&min='+${min}+'&max='+${max}+'&sort='+${sort}}"
                       th:text="${pageNumber+1}">1</a>
                </li>


            </ul>
        </div>

    </div>


</div>
</div>
</div>
</body>
</html>