<html xmlns:th="http://www.thymeleaf.org" xmlns:overflow="http://www.w3.org/1999/xhtml"
      xmlns:overflow-scrolling="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content">

  <div class="card card-product-list ">

    <div class="card-header ">
      <a class="product-close" href="##"  >
        <i class="fa fa-angle-right card-header-icon">
        </i>
      </a>
      <h4 class="card-header-text">
        CART</h4>
    </div>

    <div class="card-body empty-card-body">
      <p class="empty-card-body-text">Card is empty</p>
    </div>


    <div   class="card card-product-list-2" th:each="cart:${session.cart}">

      <h5  class="card-title card-title-product-list"
          th:text="${cart.productEntity.productName}">
      </h5>


      <hr>

    </div>
      <hr>
      <div class="card-body">
        <a th:href="@{/cart/viewCart}">
          <button  class="add-to-card-view btn light" type="submit">View Cart</button>
        </a>
      </div>

  </div>
</div>
</body>
</html>