<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">

  <div class="card card-product-list ">

    <div class="card-header ">
      <a class="product-close" href="##"  >
        <i class="fa fa-angle-right card-header-icon">
        </i>
      </a>
      <h4 class="card-header-text">
        CART</h4>
    </div>

    <div class="card-body empty-card-body">
      <p class="empty-card-body-text">Card is empty</p>
    </div>

    <div class="card card-product-list-2">
      <img class="card-img-view" src="../gallery/p-15.jpg" alt="">
      <h5  class="card-title card-title-product-list">Feta Cheese</h5>
      <p  class="card-text-price">$8.39
      </p>
      <div class="card-products-control ">
        <div class="counter">
          <button class="minus  btn light" >-</button>
          <input class="products-control-input btn light" type="number" min="0" max="1000000" step="1" value="0" >
          <button class="plus  btn light">+</button>
        </div>
      </div>
      <hr>
      <div class="card-body">
        <p class="card-total">
          <b>Total</b></p>
        <p class="card-total-price"><b>$8.39</b></p>
        <a th:href="@{/viewCart}">
          <button class="add-to-card-view btn light" type="submit">View Cart</button>
        </a>
      </div>
    </div>
  </div>
</div>
</body>
</html>