<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">

  <div class="card card-product-list ">

    <div class="card-header ">
      <a class="product-close" href="##"  >
        <i class="fa fa-angle-right card-header-icon">
        </i>
      </a>
      <h4 class="card-header-text">
        CART</h4>
    </div>

    <div class="card-body empty-card-body">
      <p class="empty-card-body-text">Card is empty</p>
    </div>

    <div class="card card-product-list-2">
      <img class="card-img-view" th:src="${img}" alt="">
      <h5  class="card-title card-title-product-list"></h5>
      <p  class="card-text-price">
      </p>

      <hr>
      <div class="card-body">
        <p class="card-total">
          <b>Total</b></p>
        <p class="card-total-price" th:text="${session.size()>0} ? 'hi' : 'mi' "></p>
        <a th:href="@{/cart/viewCart}">
          <button class="add-to-card-view btn light" type="submit">View Cart</button>
        </a>
      </div>
    </div>
  </div>
</div>
</body>
</html>