<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fresh Market</title>
    <script src="https://kit.fontawesome.com/44a5bc4613.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/FreshMarket.css">
    <link rel="stylesheet" href="../static/css/About.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>

<body>

    <div class="allSite " >


        <nav class="container navbar navbar-default  fixed-top">
            <div class="container  navbar-expand-sm mt-3 fixed navbar-fresh">
                <div class="first-element">
                    <a href="FreshMarket.html" class="navbar-brand">
                        <img class="log-1" src="../gallery/kar.png" alt="" >
                            <p class="fresh">
                                &nbsp;Fresh Market</p>
                    
                    </a>
                </div>
                <div class="second-element-responsive">
                   <i class="fas fa-bars"></i>
            </div>

                <div class="second-element" >
                    <ul class="navbar-nav ml-auto row" >
                        <li class="navbar-item  item-nav-words col">
                            <a href="FreshMarket.html" class="nav-link">Home</a>
                        </li>

                        <li class="navbar-item item-nav-words col">
                            <a href="FreshMarketShop-1.html" class="nav-link">Shop</a>
                        </li>

                        <li class="navbar-item item-nav-words col">
                            <a href="About.html" class="nav-link">About</a>
                        </li>

                        <li class="navbar-item item-nav-words col">
                            <a href="Contact.html" class="nav-link">Contact</a>
                        </li>


                        <li class="navbar-item item-nav-words col">
                            <a href="LogIn.html" class="nav-link log-in-link " style="display: flex">
                              <i class="logo2 fas fa-user-circle"></i> <p > &nbsp;Login</p> 
                            </a>

                        </li>


                       
                          <li class="col navbar-item-shop">
                         <div class="shop-packet">
                          <a href="##" class="nav-link"  >
            <i class="fab fa-shopify logo3">
            </i>
            <p class="products-digit">0</p>
        </a>
    </div>
</li>

                    </ul>
                   
                </div>
               
            </div>
           
        </nav>




<div class="container ">
    <div class="container About-block">
        <div class="container body-about">
        <h5 class="card-title about-title">About Our Market</h5>
        <div>
        <img class="about-img" src="../gallery/About-img.webp" alt="">
    </div>
        <p class="card-text card-text-shop">After returning from a trip to Europe, Ray Berry and his wife Beverly were inspired to bring the charm and essence of an open, European-style food market to America.  They wanted to offer a more intimate and personalized shopping experience than the warehouse-type supermarkets popular at the time.
            Leaving his job at The Southland Co. overseeing 3,600 7-Eleven stores, the Berry’s poured their life savings into their dream: creating a warm and inviting shopping experience filled with the freshest produce, meats hand-trimmed by butchers in-store, fresh-cut flowers, and the finest foods and ingredients from around the world.</p>
   <p class="card-text card-text-shop">While searching for the ideal place to make their dream a reality, the Berry’s fell in love with the quaint community of Greensboro, North Carolina.  On March 5, 1982, the first The Fresh Market store opened in Greensboro on Lawndale Drive, where a store still stands today. Everything about this small, boutique specialty grocery store was designed to enhance the food shopping experience.</p>
       <p class="card-text card-text-shop">The initial 14,000-square-foot store differentiated itself from conventional supermarkets with a farmer’s market atmosphere, complete with locally-grown produce, bins of freshly roasted coffee, an old-world style butcher shop and fish market, in-store bakery, fresh cheeses and cured meats, and floral stands.</p>
<p class="card-text card-text-shop">The original store became the blueprint for other locations to follow. Today, with 159 locations in 22 states, The Fresh Market is still committed to our original values of providing guests with inspiring, fresh food to make every day eating extraordinary.</p>
    </div>
</div>
</div>

        <!-- ----------------------------------------------------------------------------------------- -->
      

     
               




                <!-- ------------------------------------------------------------------------------------------------------------------- -->

       <!-- Second fOOTER -->

       <div class="footer second-footer container">

        <div class="row second-footer-row container">
        <div class="second-footer-block col-4 second-footer-col">
            <div>
                <h5 class="second-footer-title">STORE</h5>
            </div>
            <div class="second-footer-text" >
                <a class="second-footer-text-store" href="FreshMarketShop-1.html" >Shop
                    All</a>
            </div>
            <div class="second-footer-text">
                <a class="second-footer-text-store" href="Shipping.html">Shipping
                    & Returns</a>
            </div>
            <div class="second-footer-text" >
                <a  class="second-footer-text-store" href="Policy.html">Store
                    Policy</a>
            </div>
            <div class="second-footer-text">
                <a class="second-footer-text-store" href="Faq.html">FAQ</a>
            </div>
        </div>






        <div class="second-footer-block col-4 second-footer-col">
            <div>
                <h5 class="second-footer-title">ADDRESS</h5>
            </div>
            <div>
                <p class="second-footer-text-adress">500
                    Terry Francois Street
                </p>
            </div>
            <div>
                <p  class="second-footer-text-adress">San
                    Francisco, CA 94158</p>
            </div>
        </div>




        <div class="second-footer-block col-4 second-footer-col">
            <div>
                <h5 class="second-footer-title">OPENING HOURS</h5>
            </div>
            <div>
                <p class="second-footer-text-opening-hours">5Mon
                    - Fri: 7am - 10pm
                </p>
            </div>
            <div>
                <p class="second-footer-text-opening-hours" >
                    Saturday: 8am - 10pm</p>
            </div>
            <div>
                <p class="second-footer-text-opening-hours">
                    Sunday: 8am - 11pm</p>
            </div>
        </div>


        <div class=" second-footer-block col-4 second-footer-col-email">
            <div class="email-config">
            <div>
                <h5  class="second-footer-title">GET IT FRESH</h5>
            </div>
            <div>
                <p class="second-footer-text-Get-it"  ">
                    Email
                </p>
            </div>
            <div class="footer-email">
                <input class="footer-email" required id="email" pattern=".+@gmail.com" class="email-btn" type="email">
            </div>
            <div class="second-footer-text" >
                <button class="btn btn-light btn-hover my-button">SUBSCRIBE
                    NOW</button>
            </div>

            <div class="end-footer-icons ">
                <a class="end-footer-icon-a" href="">
                    <i class="fab fa-youtube end-footer-icon-i"></i></a>
                <a class="end-footer-icon-a" href="" >
                    <i class="fab fa-instagram end-footer-icon-i"></i></a>
                <a class="end-footer-icon-a" href="" >
                    <i class="fab fa-facebook end-footer-icon-i"></i></a>
                <a class="end-footer-icon-a" href="">
                    <i class="fab fa-twitter-square end-footer-icon-i"></i></a>

                 
                    
            </div>

        </div>
        </div>
    </div>



    
   



  

</div>

<!-- END TEXT -->
<div class="container end">
    <p class="end-text">
        © 2021 by Fresh Market
    </p>
</div>
</div>





 <!-- all veb -->
    </div>

     <!-- -------------------------------------------------------------------------------------------------------------- -->

<!-- Chat icon -->
<div class="btn chat-logo container"  >
    <div class="my-chat" >
        <i class="chat-icon far fa-comment-dots"></i>
</div>
</div>

<!-- Chat body -->
<div class="container">
    <div class="chat">
             <div class="header-chat-box ">
                 <div>
                 <img class="header-chat-img" src="https://s3.ivisa.com/website-assets/blog/id-photo2.jpg" alt="">
                </div>
                <div>
                 <p class="header-chat-meneger-name">Benjamin</p>
                </div>
                  <div class="header-chat-close">
                   
                      <a href="##" class="close-chat">
                    <i  class="header-chat-close-icon btn light far fa-times-circle"></i>
                       </a>
                  </div>
                     <div class="container" style=" background-color: #2A6049;">
                        
                        <hr class="header-chat-hr">
                    </div>

                </div>
                <div>
                    <div class="body-chat box">
                           
                          <div>
                              <p>
                                <i class="far fa-smile"></i> &nbsp; Let's Chat!
                              </p>
                              <p>
                                  Ask us any question. 
                              </p>
                              <p>
                                <i class="fas fa-bolt"></i> &nbsp;  We'll reply as soon as we can
                              </p>
                          </div>   
                          
                    </div>
                    <div class="container chat-date">
                         <p class="chat-date-text">
                           <i>13.04.2021</i> 
                         </p>
                    </div>

                </div>

                    <div class="container footer-chat-block" >
                        
                        <hr class="send-message-hr">
                       
                       
                <div class="container chat-footer"> 
                    <a href="##" style="text-decoration: none;">
                        <i class="fas fa-microphone-alt"></i>
                    </a>
     
                  
                 <input class="chat-footer-input" type="text">
                 
                 <button class="light chat-footer-button" >Send</button>
                </div>
            </div>   
                     
                
    
    </div>
</div>




<!-- View Cart -->
    <div class="card card-product-list ">
       
        <div class="card-header ">
            <a class="product-close" href="##"  >
            <i class="fa fa-angle-right card-header-icon">
            </i>
        </a>
            <h4 class="card-header-text">
                CART</h4>
        </div>
       
        <div class="card-body empty-card-body">
            <p class="empty-card-body-text">Card is empty</p>
        </div>
        
            <div class="card card-product-list-2">
                <img class="card-img-view" src="../gallery/p-15.jpg" alt="">
                <h5  class="card-title card-title-product-list">Feta Cheese</h5>
                <p  class="card-text-price">$8.39
                </p>
                <div class="card-products-control ">
                    <div class="counter">
                        <button class="minus  btn light" >-</button>
                        <input class="products-control-input btn light" type="number" min="1" max="1000000" step="1" value="1" >
                        <button class="plus  btn light">+</button>
                    </div>
                </div>
                <hr>
                <div class="card-body">
                    <p class="card-total">
                        <b>Total</b></p>
                    <p class="card-total-price"><b>$8.39</b></p>
                    <a href="VeiwCart.html">
                        <button class="add-to-card-view btn light" type="submit">View Cart</button>
                        </a>
                </div>
            </div>
        </div>
            











    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <script src="../static/js/FreshMarket.js"></script>



































</body>

</html>