<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}">Fresh Market</title>
    <script src="https://kit.fontawesome.com/44a5bc4613.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/FreshMarket.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/About.css}" type="text/css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>

<body>

    <div class="allSite " >


        <div th:replace="content/NavBar  :: content"></div>


    <div class="container ">
    <div class="container About-block">
        <div class="container body-about">
        <h5 class="card-title about-title">About Our Market</h5>
        <div>
        <img class="about-img" src="../gallery/About-img.webp" alt="">
    </div>
        <p class="card-text card-text-shop">After returning from a trip to Europe, Ray Berry and his wife Beverly were inspired to bring the charm and essence of an open, European-style food market to America.  They wanted to offer a more intimate and personalized shopping experience than the warehouse-type supermarkets popular at the time.
            Leaving his job at The Southland Co. overseeing 3,600 7-Eleven stores, the Berry’s poured their life savings into their dream: creating a warm and inviting shopping experience filled with the freshest produce, meats hand-trimmed by butchers in-store, fresh-cut flowers, and the finest foods and ingredients from around the world.</p>
   <p class="card-text card-text-shop">While searching for the ideal place to make their dream a reality, the Berry’s fell in love with the quaint community of Greensboro, North Carolina.  On March 5, 1982, the first The Fresh Market store opened in Greensboro on Lawndale Drive, where a store still stands today. Everything about this small, boutique specialty grocery store was designed to enhance the food shopping experience.</p>
       <p class="card-text card-text-shop">The initial 14,000-square-foot store differentiated itself from conventional supermarkets with a farmer’s market atmosphere, complete with locally-grown produce, bins of freshly roasted coffee, an old-world style butcher shop and fish market, in-store bakery, fresh cheeses and cured meats, and floral stands.</p>
<p class="card-text card-text-shop">The original store became the blueprint for other locations to follow. Today, with 159 locations in 22 states, The Fresh Market is still committed to our original values of providing guests with inspiring, fresh food to make every day eating extraordinary.</p>
    </div>
</div>
</div>

        <!-- ----------------------------------------------------------------------------------------- -->
      

     
               




                <!-- ------------------------------------------------------------------------------------------------------------------- -->
        <div th:replace="content/Footer :: content"></div>


</div>





 <!-- all veb -->


     <!-- -------------------------------------------------------------------------------------------------------------- -->

    <!-- chat -->
    <div th:replace="content/Chat :: content"></div>



<!-- View Cart -->
    <div th:replace="content/ViewCart :: content"></div>
            











    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <script th:src="@{/js/FreshMarket.js}"></script>



































</body>

</html>