<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title th:text="${title}">Policy</title>
        <script src="https://kit.fontawesome.com/44a5bc4613.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/FreshMarket.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/Faq.css}" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet">
        
    </head>

<body>

    <div class="allSite" >


<div class="container">
    <div th:replace="content/NavBar  :: content"></div>

      <!-- ------------------------------------------------------------------------------------------------- -->

<div class="container Faq-Block">
    <div class="container Faq-container">
    <div class="container">
<h2 class="Faq-Title">
    Frequently Asked Questions
</h2>
</div>

<div class="container Faq-Block-first">
    <div class="faq-title-block">
        <h6 class="faq-title">What is Fresh Market To GO?</h6>
    </div>
    <div  class = "plus-icon-section-1 plus-icon">
        <a href="##">
            <i class="fas fa-plus"></i>
        </a>
    </div>
        <div class = "minus-icon-section-1 minus-icon">
            <a href="##" >
                <i class="fas fa-minus "></i>
            </a>
        </div>
    
    <div class="faq-text-slider faq-text-slider-1" >
        <div class="container">
 <p>
    Grocery shopping just got easier with Fresh Market To GO. Fresh Market To GO is our online grocery 
    service powered by Rosie; it's everything you love about Fresh Market, online! Shop for your favorite
     items from the comfort of anywhere. It's easy, fast and affordable.
     Simply login, shop for your items, and select a pickup time and arrive at the store to pick them up.
 </p>
</div>
 <div class="col-md-12">
    <ul class="social-network social-circle">
        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
    </ul>
</div>
    </div>
</div>

<hr class="faq-hr">

<!-- ------------------------------------------------------------------------------------------------- -->

<div class="container  Faq-Block">
    <div class="faq-title-block">
        <h6 class="faq-title">Where is Fresh Market To GO available?</h6>
    </div>
    <div  class = "plus-icon-section-2 plus-icon">
        <a href="##">
            <i class="fas fa-plus"></i>
        </a>
    </div>
        <div class = "minus-icon-section-2 minus-icon">
            <a href="##" >
                <i class="fas fa-minus "></i>
            </a>
        </div>
    
    <div  class="faq-text-slider faq-text-slider-2">
        <div class="container">
 <p>
    Fresh Market To Go is only available at our Jeremy Ranch location. However, we have teamed
     up with our sister stores 
    Macey’s and Dick’s Market to offer convenient pickup locations at many of our Fresh Market stores.
    Shop Macey’s Anywhere for convenient curbside pickup at the following Fresh Market locations:
     East Ogden, South Ogden, American Fork, Provo, 39th South, 17th South and 21st South.
    Shop Dick’s Market Online for convenient curbside pickup at our East Layton Fresh Market store.
 </p>
</div>
 
 <div class="col-md-12">
    <ul class="social-network social-circle">
        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
    </ul>
</div>
    </div>
</div>

<hr class="faq-hr">
<!-- ---------------------------------------------------------------------------------------------- -->




<div class="container Faq-Block">
    <div class="faq-title-block">
        <h6 class="faq-title">How much does it cost?</h6>
    </div>
    <div  class = "plus-icon-section-3 plus-icon">
        <a href="##">
            <i class="fas fa-plus"></i>
        </a>
    </div>
        <div class = "minus-icon-section-3 minus-icon">
            <a href="##" >
                <i class="fas fa-minus "></i>
            </a>
        </div>
    
        <div  class="faq-text-slider faq-text-slider-3">
            <div class="container">
 <p>
    The convenience fee for all pickup orders is $1.99.
    Prices online may vary from those in-store. 
    All advertised discounts and promotions found in the Fresh Market 
    weekly ad are honored at the same price you would receive in the store.
     If you notice an item that you believe is priced incorrectly, please contact us here
 </p>
 </div>
 <div class="col-md-12">
    <ul class="social-network social-circle">
        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
    </ul>
</div>
    </div>
</div>

<hr class="faq-hr">



<!-- ------------------------------------------------------------------------------------------------ -->





<div class="container Faq-Block">
    <div class="faq-title-block">
        <h6 class="faq-title">Can I pay with a gift card?</h6>
    </div>
    <div  class = "plus-icon-section-4 plus-icon">
        <a href="##">
            <i class="fas fa-plus"></i>
        </a>
    </div>
        <div class = "minus-icon-section-4 minus-icon">
            <a href="##" >
                <i class="fas fa-minus "></i>
            </a>
        </div>
    
        <div  class="faq-text-slider faq-text-slider-4">
            <div class="container">
 <p>
    We do not accept gift cards at this time.
     Payment must be made by credit or debit card at time of purchase.
 </p>
 </div>
 <div class="col-md-12">
    <ul class="social-network social-circle">
        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
    </ul>
</div>
    </div>
</div>

<hr class="faq-hr">



<!-- ----------------------------------------------------------------------------------------------- -->

<div class="container Faq-Block">
    <div class="faq-title-block">
        <h6 class="faq-title">What if I miss my pickup or delivery window?</h6>
    </div>
    <div  class = "plus-icon-section-5 plus-icon">
        <a href="##">
            <i class="fas fa-plus"></i>
        </a>
    </div>
        <div class = "minus-icon-section-5 minus-icon" >
            <a href="##" >
                <i class="fas fa-minus "></i>
            </a>
        </div>
    
        <div  class="faq-text-slider faq-text-slider-5">
            <div class="container">
 <p>
    If you miss your timeslot, we will contact you to reschedule. If you know ahead 
    of time you will not be able to meet your pre-selected time, please contact us to reschedule.
 </p>
 </div>
 <div class="col-md-12">
    <ul class="social-network social-circle">
        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
    </ul>
</div>
    </div>
</div>

<hr class="faq-hr">



<!-- --------------------------------------------------------------------------------------------------- -->
</div>


      
        <!-- ----------------------------------------------------------------------------------------- -->

       

       
                






            
           
           
        











          


            <!-- ------------------------------------------------------------------------------------------------------------------- -->


    <div th:replace="content/Footer :: content"></div>

    </div>


    </div>
</div>

    


    <!-- -------------------------------------------------------------------------------------------------------------- -->













  



<!-- ------------------------------------------------------------------------------------------------------ -->





<!-- ----------------------------------------------------------------------------------------------------------------- -->



    <!-- chat -->
    <div th:replace="content/Chat :: content"></div>




<!-- View Cart -->
    <div th:replace="content/ViewCart :: content"></div>



<!-- ----------------------------------------------------------------------------------------------------------- -->







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <script  th:src="@{/js/FreshMarket.js}"></script>
    <script  th:src="@{/js/Faq.js}"></script>





</body>

</html>