<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}">Fresh Market</title>
    <script src="https://kit.fontawesome.com/44a5bc4613.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/FreshMarket.css}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet">
    
</head>

<body>

    <div class="allSite" >

    <!-- Navbar -->
<div class="container">

     
        <nav class="container navbar navbar-default  fixed-top">
            <div class="container  navbar-expand-sm mt-3 fixed navbar-fresh">
                <div class="first-element">
                    <a href="FreshMarket.html" class="navbar-brand">
                        <img class="log-1" src="../gallery/kar.png" alt="" >
                            <p class="fresh">
                                &nbsp;Fresh Market</p>
                    
                    </a>
                </div>
                <div class="second-element-responsive">
                   <i class="fas fa-bars"></i>
            </div>

                <div class="second-element" >
                    <ul class="navbar-nav ml-auto row" >
                        <li class="navbar-item  item-nav-words col">
                            <a href="FreshMarket.html" class="nav-link">Home</a>
                        </li>

                        <li class="navbar-item item-nav-words col">
                            <a href="../FreshMarketShop-1.html" class="nav-link">Shop</a>
                        </li>

                        <li class="navbar-item item-nav-words col">
                            <a href="../About.html" class="nav-link">About</a>
                        </li>

                        <li class="navbar-item item-nav-words col">
                            <a href="../Contact.html" class="nav-link">Contact</a>
                        </li>


                        <li class="navbar-item item-nav-words col">
                            <a href="../LogIn.html" class="nav-link log-in-link " style="display: flex">
                              <i class="logo2 fas fa-user-circle"></i> <p > &nbsp;Login</p> 
                            </a>

                        </li>


                       
                          <li class="col navbar-item-shop">
                         <div class="shop-packet">
                          <a href="##" class="nav-link"  >
            <i class="fab fa-shopify logo3">
            </i>
            <p class="products-digit">0</p>
        </a>
    </div>
</li>

                    </ul>
                   
                </div>
               
            </div>
           
        </nav>

    

      <!-- ------------------------------------------------------------------------------------------------- -->

        <div >

        <div id="carouselExampleCaptions" class="carousel slide container " data-bs-ride="carousel">
            <div class="carousel-indicators ">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner "  >
              <div class="carousel-item active"  >
                  <div class="opacity-slider box">
                <img src="/gallery/f-1.jpg" class="d-block w-100 " alt="0">
            </div>
                <div class="carousel-caption d-none d-md-block" >
                  <h5 class="carousel-title">FRESH MARKET</h5>
                  <p class="carousel-text"> We'll Deliver Everything
                    you need</p>
                    <a class="btn btn-light button-slider" href="../FreshMarketShop-1.html" role="button">SHOP ONLINE</a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="opacity-slider">
                <img src="../gallery/f-2.jpg" class="d-block w-100" alt="1" >
                </div>
                <div class="carousel-caption d-none d-md-block" >
                    <h5 class="carousel-title">FRESH MARKET</h5>
                    <p class="carousel-text"> We'll Deliver Everything
                      you need</p>
                      <a class="btn btn-light button-slider" href="../FreshMarketShop-1.html" role="button">SHOP ONLINE</a>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="opacity-slider">
                <img src="../gallery/f-3.webp" class="d-block w-100" alt="2">
                </div>
                <div class="carousel-caption d-none d-md-block" >
                    <h5 class="carousel-title">FRESH MARKET</h5>
                    <p class="carousel-text"> We'll Deliver Everything
                      you need</p>
                      <a class="btn btn-light button-slider" href="../FreshMarketShop-1.html" role="button">SHOP ONLINE</a>
                  </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        </div>

    </div>

        <!-- ----------------------------------------------------------------------------------------- -->
       <!--Product Slider  -->
        <div id="slide-div" class="containter">
            <div id="carouselFade" class="carousel slide carousel-fade2" data-bs-ride="carousel">

                <div class="card-body weekly-card ">
                    <h5 class="card-title weekly-title">Weekly Deals</h5>
                    <p class="card-text weekly-text">Shop low
                        prices on award-winning products at Fresh Market. View our weekly specials, find recipes, and
                        shop quality brands in store or online.</p>
                </div>




                <div class="container products-slider ">
                    <div class="row row-slider">
                    <div class="card box products-box col-3 column-slider c-1">
                        <a href="../ProductsInfo.html">
                        <img class="card-img-top img-z-1" src="../gallery/z-1.jpg" alt="" >
                        </a>
                        <button class="btn card-special-price">Special Price</button>
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title title-z-1 products-name">Poland Spring Water</h5>
                            <p class="card-text text-z-1 products-price">$5.29
                            </p>

                            <div class="summ-product-btn">
                                <div class="counter">
                                    <button class="minus  btn light">-</button>
                                    <input class="summ-products-input btn light" type="number" min="0" max="1000000" step="1"
                                        value="0" >
                                    <button class="plus  btn light">+</button>
                                </div>
                            </div>
                            <button class="btn light add-to-card">Add to Cart</button>
                        </div>
                    </div>


                    <div class="card box products-box col-3 column-slider c-2">
                        <a href="../ProductsInfo.html">
                        <img class="card-img-top img-z-2" src="../gallery/z-2.jpg" alt="">
                        </a>
                        <button class="btn card-special-price">Special Price</button>
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title title-z-2  products-name" >Dial Hand Soap</h5>
                            <p class="card-text text-z-2 products-price">$3.97

                            </p>
                            <div class="summ-product-btn">
                                <div class="counter">
                                    <button class="minus  btn light">-</button>
                                    <input class="summ-products-input btn light" type="number" min="0" max="1000000" step="1"
                                        value="0" >
                                    <button class="plus  btn light">+</button>
                                </div>
                            </div>
                            <button class="btn light add-to-card">Add to Cart</button>
                        </div>
                    </div>


                    <div class="card box products-box col-3 column-slider c-3">
                        <a href="../ProductsInfo.html">
                        <img class="card-img-top img-z-3" src="../gallery/z-3.jpg" alt="">
                        </a>
                        <button class="btn card-special-price">Special Price</button>
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title title-z-3  products-name" >Hellmann's Mayonnaise</h5>
                            <p class="card-text text-z-3 products-price">$30.99

                            </p>
                            <div class="summ-product-btn">
                                <div class="counter">
                                    <button class="minus  btn light">-</button>
                                    <input class="summ-products-input btn light" type="number" min="0" max="1000000" step="1"
                                        value="0" >
                                    <button class="plus  btn light">+</button>
                                </div>
                            </div>
                            <button class="btn light add-to-card">Add to Cart</button>
                        </div>
                    </div>



                    <div class="card box products-box col-3 column-slider c-4">
                        <button class="btn card-special-price">Special Price</button>
                        <a href="../ProductsInfo.html">
                        <img class="card-img-top  img-z-4" src="../gallery/z-4.jpg" alt="">
                        </a>
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title title-z-4  products-name" >Heinz
                                Ketchup </h5>
                            <p class="card-text text-z-4 products-price">$2.88
                            </p>
                            <div class="summ-product-btn">
                                <div class="counter">
                                    <button class="minus  btn light">-</button>
                                    <input class="summ-products-input btn light" type="number" min="0" max="1000000" step="1"
                                        value="0" >
                                    <button class="plus  btn light">+</button>
                                </div>
                            </div>
                            <button class="btn light add-to-card">Add to Cart</button>
                        </div>
                    </div>




                </div>



                <button class="carousel-control-prev" type="button" data-bs-target="#slide-div" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon div-icon-1" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#slide-div" data-bs-slide="next">
                    <span class="carousel-control-next-icon div-icon-2" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


        </div>
        <div class="container">
            <hr class="light hr-products-slider">
        </div>






        
        <!-- ------------------------------------------------------------------------------------------------------------ -->
           <!-- Product list -->
        <div class="containter">

            <div class="card-Grab container">
                <div class="card-body card-body-Grab ">
                    <h5 class="card-title">Grab 'N Go</h5>
                    <p class="card-text-Grab">We are always
                        looking for new vendors to supply us with specialty and local products that delight our guests.
                        Submit your products through RangeMe today!</p>
                </div>

                
                <div class="container Grab-first-line">
                    <div class="row row-Grab">
                    <div class="col-3 column">
                    <div class="card Grab-cards box ">
                        <a href="../ProductsInfo.html">
                        <img class="card-img-top" src="../gallery/p-9.jpg" alt="" >
                        </a>
                        <button class="btn card-text card-special-price">Special Price</button>
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title  products-name" >Head & Shoulders Head and
                                Shoulders Classic Clean </h5>
                            <p class="card-text products-price">$5.99
                            </p>
                            <div  class="summ-product-btn ">
                                <div class="counter">
                                    <button class="minus  btn light">-</button>
                                    <input class="summ-products-input btn light" type="number" min="0" max="1000000" step="1"
                                        value="0" >
                                    <button class="plus  btn light">+</button>
                                    
                                </div>
                            </div>
                            <div class="Grab-add-to-Cart" >
                            <button class="btn light add-to-card">Add to Cart</button>
                        </div>
                        </div>
                    </div>
                    </div>



                    <div class="col-3 column">
                    <div class="card Grab-cards box ">
                        <a href="../ProductsInfo.html">
                        <img class="card-img-top" src="../gallery/p-10.jpg" alt="" style="position:relative;">
                        </a>
                        <hr>
                        <div class="card-body ">
                            <h5 class="card-title  products-name" >Tide Ultra Oxi Liquid
                                Detergent laundry detergent</h5>
                            <p class="card-text products-price">$9.99
                            </p>
                            <div  class="summ-product-btn">
                                <div class="counter" >
                                    <button class="minus  btn light" >-</button>
                                    <input class="summ-products-input btn light" type="number" min="0" max="1000000" step="1"
                                        value="0" >
                                    <button class="plus  btn light">+</button>
                                </div>
                            </div>
                            
                            <button class="btn light add-to-card " type="submit" >Add to Cart</button>
                        
                        </div>
                    </div>
                    </div>


                   <div class="col-3 column">
                    <div class="card Grab-cards box ">
                        <a href="../ProductsInfo.html">
                        <img class="card-img-top" src="../gallery/p-11.jpg" alt="" style="position:relative;">
                        </a>
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title  products-name">Stella Artois Lager Beer
                                Bottles wonderful floral aroma</h5>
                            <p class="card-text products-price">$14.99
                            </p>
                            <div  class="summ-product-btn">
                                <div class="counter">
                                    <button class="minus  btn light">-</button>
                                    <input class="summ-products-input btn light" type="number" min="0" max="1000000" step="1"
                                        value="0" >
                                    <button class="plus  btn light">+</button>
                                </div>
                            </div>
                            <button class="btn light add-to-card" type="submit">Add to Cart</button>
                        </div>
                    </div>
                   </div>

                    <div class="col-3 column">
                    <div class="card Grab-cards box ">
                        <a href="../ProductsInfo.html">
                        <img class="card-img-top" src="../gallery/p-12.jpg" alt="" style="position:relative;">
                        </a>
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title  products-name" >PICS Mushroom, Stems &
                                Pieces 30 calories per 1/2 cup </h5>
                            <p class="card-text products-price" >$1.09
                            </p>
                            <div  class="summ-product-btn">
                                <div class="counter">
                                    <button class="minus  btn light">-</button>
                                    <input class="summ-products-input btn light" type="number" min="0" max="1000000" step="1"
                                        value="0" >
                                    <button class="plus  btn light">+</button>
                                </div>
                            </div>
                            <button class="btn light add-to-card" type="submit">Add to Cart</button>
                        </div>
                    </div>
                    </div>


                </div>
        
            </div>


                <!-- -------------------------------------------------------------------------------- -->



                <div class="container Grab-second-line">
                    <div class="row row-Grab">
                    <div class="col-3 column">
                    <div class="card Grab-cards  box">
                        <a href="../ProductsInfo.html">
                        <img class="card-img-top" src="../gallery/p-13.jpg" alt="" style="position:relative;">
                        </a>
                        <button class="btn card-text card-special-price ">Special Price</button>
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title  products-name">Athenos Traditional Crumbled
                                Feta Cheese Feta Cheese</h5>
                            <p class="card-text products-price" >$8.39
                            </p>
                            <div  class="summ-product-btn">
                                <div class="counter">
                                    <button class="minus  btn light">-</button>
                                    <input class="summ-products-input btn light" type="number" min="1" max="1000000" step="1"
                                        value="0" >
                                    <button class="plus  btn light">+</button>
                                </div>
                            </div>
                            <button class="btn light add-to-card " type="submit" >Add to Cart</button>
                        </div>
                    </div>
</div>


                    <div class="col-3 column">
                    <div class="card Grab-cards  box">
                        <a href="../ProductsInfo.html">
                        <img class="card-img-top" src="../gallery/p-14.jpg" alt="" style="position:relative;">
                        </a>
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title  products-name">Dole Mandarin Oranges, in
                                100% Fruit Juice Sharing </h5>
                            <p class="card-text products-price">$2.99
                            </p>
                            <div  class="summ-product-btn">
                                <div class="counter">
                                    <button class="minus  btn light">-</button>
                                    <input class="summ-products-input btn light" type="number" min="1" max="1000000" step="1"
                                        value="0">
                                    <button class="plus  btn light">+</button>
                                </div>
                            </div>
                            <button class="btn light add-to-card" type="submit" >Add to Cart</button>
                        </div>
                    </div>
</div>


                    <div class="col-3 column">
                    <div class="card Grab-cards  box">
                        <a href="../ProductsInfo.html">
                        <img class="card-img-top" src="../gallery/p-15.jpg" alt="" style="position:relative;">
                        </a>
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title  products-name">PICS Potato Chips, Rippled,
                                Sour Cream & Onion</h5>
                            <p class="card-text products-price">$1.99
                            </p>
                            <div   class="summ-product-btn">
                                <div class="counter">
                                    <button class="minus  btn light">-</button>
                                    <input class="summ-products-input btn light" type="number" min="1" max="1000000" step="1"
                                        value="0">
                                    <button class="plus  btn light">+</button>
                                </div>
                            </div>
                            <button class="btn light add-to-card " type="submit">Add to Cart</button>
                        </div>
                    </div>
</div>

                    <div class="col-3 column">
                    <div class="card Grab-cards  box" >
                        <a href="../ProductsInfo.html">
                        <img class="card-img-top" src="../gallery/p-16.jpeg" alt="" style="position:relative;">
                        </a>
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title  products-name">Marie Callender's Chicken
                                Pot Pie delectable meals are quick</h5>
                            <p class="card-text products-price" >$2.19
                            </p>
                            <div  class="summ-product-btn">
                                <div class="counter">
                                    <button class="minus  btn light">-</button>
                                    <input class="summ-products-input btn light" type="number" min="0" max="1000000" step="1"
                                        value="0">
                                    <button class="plus  btn light">+</button>
                                </div>
                            </div>
                            <button class="btn light add-to-card" type="submit">Add to Cart</button>
                        </div>
                    </div>
</div>


                </div>


                





            
            </div>
            </div>
        </div>
        










            <!-- First Footeer -->
            <div class="container first-footer ">
                <div class="row">
                <div class="first-footer-card col-3 column-first-footer">
                    <img class="first-footer-img" src="../gallery/online-shopping.svg" alt="">
                    <h5 class="first-footer-title">Pick Up Options</h5>
                    <p>At checkout, choose from available days and times and which location works best for you to pick
                        up your order. You can also download the Fresh App right to your phone!</p>
                </div>

                <div class=" first-footer-card col-3 column-first-footer">
                    <img class="first-footer-img" src="../gallery/delivery-truck.svg" alt="">
                    <h5 class="first-footer-title">Same Day Delivery</h5>
                    <p> Same Day Delivery fresh market
                        The Greensboro, N.C.-based specialty supermarket chain said Thursday that same-day delivery
                        service is now available at all 161 of its stores in 22 states.</p>
                </div>

                <div class="first-footer-card-last col-3 column-first-footer">
                    <img class="first-footer-img" src="../gallery/caduceus-symbol.svg" alt="">
                    <h5 class="first-footer-title">Health & Safety Rules</h5>
                    <p>Food safety is an important issue at Fresh markets. Customers expect the food and products they
                        purchase to be grown and handled so that they will be safe to consume.</p>
                </div>
            </div>
            </div>




            <!-- ------------------------------------------------------------------------------------------------------------------- -->

<!-- Second fOOTER -->

            <div class="footer second-footer container">

                <div class="row second-footer-row container">
                <div class="second-footer-block col-4 second-footer-col">
                    <div>
                        <h5 class="second-footer-title">STORE</h5>
                    </div>
                    <div class="second-footer-text" >
                        <a class="second-footer-text-store" href="../FreshMarketShop-1.html" >Shop
                            All</a>
                    </div>
                    <div class="second-footer-text">
                        <a class="second-footer-text-store" href="../Shipping.html">Shipping
                            & Returns</a>
                    </div>
                    <div class="second-footer-text" >
                        <a  class="second-footer-text-store" href="../Policy.html">Store
                            Policy</a>
                    </div>
                    <div class="second-footer-text">
                        <a class="second-footer-text-store" href="../Faq.html">FAQ</a>
                    </div>
                </div>






                <div class="second-footer-block col-4 second-footer-col">
                    <div>
                        <h5 class="second-footer-title">ADDRESS</h5>
                    </div>
                    <div>
                        <p class="second-footer-text-adress">500
                            Terry Francois Street
                        </p>
                    </div>
                    <div>
                        <p  class="second-footer-text-adress">San
                            Francisco, CA 94158</p>
                    </div>
                </div>




                <div class="second-footer-block col-4 second-footer-col">
                    <div>
                        <h5 class="second-footer-title">OPENING HOURS</h5>
                    </div>
                    <div>
                        <p class="second-footer-text-opening-hours">5Mon
                            - Fri: 7am - 10pm
                        </p>
                    </div>
                    <div>
                        <p class="second-footer-text-opening-hours" >
                            Saturday: 8am - 10pm</p>
                    </div>
                    <div>
                        <p class="second-footer-text-opening-hours">
                            Sunday: 8am - 11pm</p>
                    </div>
                </div>


                <div class=" second-footer-block col-4 second-footer-col-email">
                    <div class="email-config">
                    <div>
                        <h5  class="second-footer-title">GET IT FRESH</h5>
                    </div>
                    <div>
                        <p class="second-footer-text-Get-it">
                            Email
                        </p>
                    </div>
                    <div class="footer-email">
                        <input class="footer-email email-btn" required id="email" pattern=".+@gmail.com"  type="email">
                    </div>
                    <div class="second-footer-text" >
                        <button class="btn btn-light btn-hover my-button">SUBSCRIBE
                            NOW</button>
                    </div>

                    <div class="end-footer-icons ">
                        <a class="end-footer-icon-a" href="">
                            <i class="fab fa-youtube end-footer-icon-i"></i></a>
                        <a class="end-footer-icon-a" href="" >
                            <i class="fab fa-instagram end-footer-icon-i"></i></a>
                        <a class="end-footer-icon-a" href="" >
                            <i class="fab fa-facebook end-footer-icon-i"></i></a>
                        <a class="end-footer-icon-a" href="">
                            <i class="fab fa-twitter-square end-footer-icon-i"></i></a>

                         
                            
                    </div>

                </div>
                </div>
            </div>


        
            
           



          

        </div>
       
        <!-- END TEXT -->
        <div class="container end">
            <p class="end-text">
                © 2021 by Fresh Market
            </p>
        </div>



       




    </div>
     
   


    <!-- -------------------------------------------------------------------------------------------------------------- -->





  






  



<!-- ------------------------------------------------------------------------------------------------------ -->


<!-- ---------------------------------------------- -->


<!-- Chat icon -->
<div class="btn chat-logo container"  >
    <div class="my-chat" >
        <i class="chat-icon far fa-comment-dots"></i>
</div>
</div>

<!-- Chat body -->
<div class="container">
    <div class="chat">
             <div class="header-chat-box ">
                 <div>
                 <img class="header-chat-img" src="https://s3.ivisa.com/website-assets/blog/id-photo2.jpg" alt="">
                </div>
                <div>
                 <p class="header-chat-meneger-name">Benjamin</p>
                </div>
                  <div class="header-chat-close">
                   
                      <a href="##"  class="close-chat">
                    <i  class="header-chat-close-icon btn light far fa-times-circle"></i>
                       </a>
                  </div>
                     <div class="container" style=" background-color: #2A6049;">
                        
                        <hr class="header-chat-hr">
                    </div>

                </div>
                <div>
                    <div class="body-chat box">
                           
                          <div>
                              <p>
                                <i class="far fa-smile"></i> &nbsp; Let's Chat!
                              </p>
                              <p>
                                  Ask us any question. 
                              </p>
                              <p>
                                <i class="fas fa-bolt"></i> &nbsp;  We'll reply as soon as we can
                              </p>
                          </div>   
                          
                    </div>
                    <div class="container chat-date">
                         <p class="chat-date-text">
                           <i>13.04.2021</i> 
                         </p>
                    </div>

                </div>

                    <div class="container footer-chat-block" >
                        
                        <hr class="send-message-hr">
                       
                       
                <div class="container chat-footer"> 
                    <a href="##"  style="text-decoration: none;">
                        <i class="fas fa-microphone-alt"></i>
                    </a>
     
                  
                 <input class="chat-footer-input" type="text">
                 
                 <button class="light chat-footer-button" >Send</button>
                </div>
            </div>   
                     
                
    
    </div>
</div>




<!-- View Cart -->
    <div class="card card-product-list ">
       
        <div class="card-header ">
            <a href="##" class="product-close"   >
            <i class="fa fa-angle-right card-header-icon">
            </i>
        </a>
            <h4 class="card-header-text">
                CART</h4>
        </div>
       
        <div class="card-body empty-card-body">
            <p class="empty-card-body-text">Card is empty</p>
        </div>
        
            <div class="card card-product-list-2">
                <img class="card-img-view" src="../gallery/p-15.jpg" alt="">
                <h5  class="card-title card-title-product-list">Feta Cheese</h5>
                <p  class="card-text-price">$8.39
                </p>
                <div class="card-products-control ">
                    <div class="counter">
                        <button class="minus  btn light" >-</button>
                        <input class="products-control-input btn light" type="number" min="1" max="1000000" step="1" value="1" >
                        <button class="plus  btn light">+</button>
                    </div>
                </div>
                <hr>
                <div class="card-body">
                    <p class="card-total">
                        <b>Total</b></p>
                    <p class="card-total-price"><b>$8.39</b></p>
                    <a href="../VeiwCart.html">
                        <button class="add-to-card-view btn light" type="submit">View Cart</button>
                        </a>
                </div>
            </div>
        </div>

<!-- ----------------------------------------------------------------------------------------------------------------- -->







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <script  th:src="@{/js/FreshMarket.js}"></script>
    <script  th:src="@{/js/Slider.js}"></script>




</body>

</html>