<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}">Shop</title>
    <script src="https://kit.fontawesome.com/44a5bc4613.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/FreshMarket.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/FreshMarketShop.css}" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>

<body>

    <div  class="allSite ">
   <!-- navbar -->
        <div th:replace="content/NavBar  :: content"></div>
    
           
    
          <!-- ------------------------------------------------------------------------------------------------- -->
    
        <!-- Title -->
<div  class="shop-all-products-list container">
        <div class="shop-block container" >
        <h5 class="shop-title">Shop</h5>
        <p class="shop-text">Shop low
            prices on award-winning products at Fresh Market. View our weekly specials, find recipes, and
            shop quality brands in store or online.</p>
        </div>

        <!-- ----------------------------------------------------------------------------------------- -->
      
<div class="-shop-all-products-body">

<div class="container first-section">

    <div class="filter">
        <div class="filter-block">
            <div class="text-filter-block">
                <b>
                    <h5 class="text-filtr-by">Filter By</h5>
                </b>
            </div>
            <hr class="filter-title-hr">
           
            <div class="filter-body">
                <div class="title--block">
                    <h6 class="title--text">Collections</h6>
                </div>
                <div  class = "plus-icon">
                    <a href="##" >
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
                <div class = "minus-icon">
                    <a href="##" >
                        <i class="fas fa-minus "></i>
                    </a>
                </div>
                
            </div>

            <div class="container">
                <div  class="list-collection ">
                    <ul class="list-collection-sections" >
                        <li style="padding-bottom: 5%;" >
                            <a  class="list-collection-sections-a"  href="">All</a>
                        </li>
                        <li>
                            <a  class="list-collection-sections-a"  href="">Food</a>
                        </li>
                        <li>
                            <a class="list-collection-sections-a"  href="">Drink</a>
                        </li>
                        <li>
                            <a  class="list-collection-sections-a"  href="">Personal Care </a>
                        </li>
                        <li>
                            <a class="list-collection-sections-a"  href="">Cleaning Supplies</a>
                        </li>
                    </ul>
                </div>
            </div>


            <hr class="filter-title-hr">

            <div class="filter-body">
                <div class="title--block">
                    <h6 class="title--text">Price</h6>
                </div>
                <div  class = "plus-icon-price">
                    <a href="##">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
                    <div class = "minus-icon-price">
                        <a href="##" >
                            <i class="fas fa-minus"></i>
                        </a>
                    </div>
                </div>
            <!-- --- -->



            <div class="range-price">
                <div class="row">
                    <div class="select-product-price">
                    <div class="col-xs-6 caption first-price">
                        <span id="slider-range-value1"></span>
                      </div>
                      <div class="col-xs-6 text-right caption second-price">
                         <span id="slider-range-value2"></span>
                      </div>
                    </div>
                  <div class="col-sm-12 slider-range-block">
                    <div id="slider-range">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <form>
                      <input type="hidden" name="min-value" value="">
                      <input type="hidden" name="max-value" value="">
                    </form>
                  </div>
                </div>
              </div>

            </div>


            <!-- --- -->
           
            
            <hr class="filter-title-hr">
           
        </div>


    </div>


</div>

<div class="container sort-all-options-block">


    <div class="container sort-all-options">
        <div class="sort">


            <select class="light sort-options" name="PRODUCTS" id="PRODUCTS">
                <option value="Sort by">Sort By</option>
                <option value="Newst">Newst</option>
                <option value="Price (low to high)">Price (low to high)</option>
                <option value="Price (high to low)">Price (high to low)</option>
                <option value="Name A-Z">Name A-Z</option>
                <option value="Name Z-A">Name Z-A</option>
            </select>
        </div>
        </div>

     
        



    <div class="container shop-first-line">
        <div class="row row-shop">
        <div class="col-3 column-shop">
        <div class="card shop-cards box">
            <a href="ProductsInfo.html">
            <img class="shop-img-top" src="../gallery/z-1.jpg" alt="" >
            </a>
            <hr class="hr-card">
            <div class="card-body">
                <h5 class="card-title  products-name-shop" >Poland Spring  </h5>
                <p class="card-text products-price-shop" >$5.29
                </p>
                <div  class="summ-product-btn-shop ">
                    <div class="counter-shop">
                        <button class="minus  btn light">-</button>
                        <input class="summ-products-input-shop btn light" type="number" min="0" max="1000000" step="1"
                            value="0" >
                        <button class="plus  btn light">+</button>
                        
                    </div>
                </div>
                <div>
                <button class="btn light add-to-card-shop">Add to Cart</button>
            </div>
            </div>
        </div>
        </div>



        <div class="col-3 column-shop">
        <div class="card shop-cards box ">
            <a href="ProductsInfo.html">
            <img class="shop-img-top" src="../gallery/z-2.jpg" alt="" style="position:relative;">
            </a>
            <hr class="hr-card">
            <div class="card-body">
                <h5 class="card-title   products-name-shop" >Dial Antibacterial Liquid</h5>
                <p class="card-text products-price-shop">$5.34
                </p>
                <div  class="summ-product-btn-shop">
                    <div class="counter-shop" >
                        <button class="minus  btn light" >-</button>
                        <input class="summ-products-input-shop btn light" type="number" min="0" max="1000000" step="1"
                            value="0">
                        <button class="plus  btn light">+</button>
                    </div>
                </div>
                <button class="btn light add-to-card-shop" type="submit" >Add to Cart</button>
            </div>
        </div>
        </div>



        <div class="col-3 column-shop">
            <div class="card shop-cards box ">
                <a href="ProductsInfo.html">
                <img class="shop-img-top" src="../gallery/z-3.jpg" alt="" style="position:relative;">
                </a>
                <hr class="hr-card">
                <div class="card-body">
                    <h5 class="card-title   products-name-shop" >Hellmann's Mayonnaise</h5>
                    <p class="card-text products-price-shop">$3.77
                    </p>
                    <div  class="summ-product-btn-shop">
                        <div class="counter-shop" >
                            <button class="minus  btn light" >-</button>
                            <input class="summ-products-input-shop btn light" type="number" min="0" max="1000000" step="1"
                                value="0">
                            <button class="plus  btn light">+</button>
                        </div>
                    </div>
                    <button class="btn light add-to-card-shop" type="submit" >Add to Cart</button>
                </div>
            </div>
            </div>



            <div class="col-3 column-shop">
                <div class="card shop-cards box ">
                    <a href="ProductsInfo.html">
                    <img class="shop-img-top" src="../gallery/z-4.jpg" alt="" style="position:relative;">
                    </a>
                    <hr class="hr-card">
                    <div class="card-body">
                        <h5 class="card-title   products-name-shop" >Heinz Ketchup</h5>
                        <p class="card-text products-price-shop">$2.99
                        </p>
                        <div  class="summ-product-btn-shop">
                            <div class="counter-shop" >
                                <button class="minus  btn light" >-</button>
                                <input class="summ-products-input-shop btn light" type="number" min="0" max="1000000" step="1"
                                    value="0">
                                <button class="plus  btn light">+</button>
                            </div>
                        </div>
                        <button class="btn light add-to-card-shop" type="submit" >Add to Cart</button>
                    </div>
                </div>
                </div>
    

    
    </div>

</div>




<div class="container shop-line">
    <div class="row row-shop">
    <div class="col-3 column-shop">
    <div class="card shop-cards box ">
        <a href="ProductsInfo.html">
        <img class="shop-img-top" src="../gallery/z-5.jpg" alt="" >
        </a>
        <hr class="hr-card">
        <div class="card-body">
            <h5 class="card-title  products-name-shop" >Tresemmé Shampoo</h5>
            <p class="card-text products-price-shop" >$2.99
            </p>
            <div  class="summ-product-btn-shop ">
                <div class="counter-shop">
                    <button class="minus  btn light">-</button>
                    <input class="summ-products-input-shop btn light" type="number" min="0" max="1000000" step="1"
                        value="0">
                    <button class="plus  btn light">+</button>
                    
                </div>
            </div>
            <div>
            <button class="btn light add-to-card-shop">Add to Cart</button>
        </div>
        </div>
    </div>
    </div>



    <div class="col-3 column-shop">
    <div class="card shop-cards box ">
        <a href="ProductsInfo.html">
        <img class="shop-img-top" src="../gallery/z-6.jpg" alt="" style="position:relative;">
        </a>
        <hr class="hr-card">
        <div class="card-body">
            <h5 class="card-title   products-name-shop" >Garden Gourmet</h5>
            <p class="card-text products-price-shop">$4.19
            </p>
            <div  class="summ-product-btn-shop">
                <div class="counter-shop" >
                    <button class="minus  btn light" >-</button>
                    <input class="summ-products-input-shop btn light" type="number" min="0" max="1000000" step="1"
                        value="0">
                    <button class="plus  btn light">+</button>
                </div>
            </div>
            <button class="btn light add-to-card-shop" type="submit" >Add to Cart</button>
        </div>
    </div>
    </div>



    <div class="col-3 column-shop">
        <div class="card shop-cards box ">
            <a href="ProductsInfo.html">
            <img class="shop-img-top" src="../gallery/p-9.jpg" alt="" style="position:relative;">
            </a>
            <hr class="hr-card">
            <div class="card-body">
                <h5 class="card-title   products-name-shop" >Head & Shoulders Classic</h5>
                <p class="card-text products-price-shop">$5.99
                </p>
                <div  class="summ-product-btn-shop">
                    <div class="counter-shop" >
                        <button class="minus  btn light" >-</button>
                        <input class="summ-products-input-shop btn light" type="number" min="0" max="1000000" step="1"
                            value="0">
                        <button class="plus  btn light">+</button>
                    </div>
                </div>
                <button class="btn light add-to-card-shop" type="submit" >Add to Cart</button>
            </div>
        </div>
        </div>



        <div class="col-3 column-shop">
            <div class="card shop-cards box ">
                <a href="ProductsInfo.html">
                <img class="shop-img-top" src="../gallery/p-10.jpg" alt="" style="position:relative;">
                </a>
                <hr class="hr-card">
                <div class="card-body">
                    <h5 class="card-title   products-name-shop" >Tide Ultra Oxi Liquid </h5>
                    <p class="card-text products-price-shop">$9.99
                    </p>
                    <div  class="summ-product-btn-shop">
                        <div class="counter-shop" >
                            <button class="minus  btn light" >-</button>
                            <input class="summ-products-input-shop btn light" type="number" min="0" max="1000000" step="1"
                                value="0">
                            <button class="plus  btn light">+</button>
                        </div>
                    </div>
                    <button class="btn light add-to-card-shop" type="submit" >Add to Cart</button>
                </div>
            </div>
            </div>


  

 


</div>

</div>
















<div class="container shop-line">
    <div class="row row-shop">
    <div class="col-3 column-shop">
    <div class="card shop-cards box ">
        <a href="ProductsInfo.html">
        <img class="shop-img-top" src="../gallery/p-11.jpg" alt="" >
        </a>
        <hr class="hr-card">
        <div class="card-body">
            <h5 class="card-title  products-name-shop" >Stella Artois Lager Beer </h5>
            <p class="card-text products-price-shop" >$14.99
            </p>
            <div  class="summ-product-btn-shop ">
                <div class="counter-shop">
                    <button class="minus  btn light">-</button>
                    <input class="summ-products-input-shop btn light" type="number" min="0" max="1000000" step="1"
                        value="0">
                    <button class="plus  btn light">+</button>
                    
                </div>
            </div>
            <div>
            <button class="btn light add-to-card-shop">Add to Cart</button>
        </div>
        </div>
    </div>
    </div>



    <div class="col-3 column-shop">
    <div class="card shop-cards box ">
        <a href="ProductsInfo.html">
        <img class="shop-img-top" src="../gallery/p-12.jpg" alt="" style="position:relative;">
        </a>
        <hr class="hr-card">
        <div class="card-body">
            <h5 class="card-title   products-name-shop" >PICS Mushroom, Stems & Pieces</h5>
            <p class="card-text products-price-shop">$1.09
            </p>
            <div  class="summ-product-btn-shop">
                <div class="counter-shop" >
                    <button class="minus  btn light" >-</button>
                    <input class="summ-products-input-shop btn light" type="number" min="0" max="1000000" step="1"
                        value="0">
                    <button class="plus  btn light">+</button>
                </div>
            </div>
            <button class="btn light add-to-card-shop" type="submit" >Add to Cart</button>
        </div>
    </div>
    </div>



    <div class="col-3 column-shop">
        <div class="card shop-cards box ">
            <a href="ProductsInfo.html">
            <img class="shop-img-top" src="../gallery/p-13.jpg" alt="" style="position:relative;">
            </a>
            <hr class="hr-card">
            <div class="card-body">
                <h5 class="card-title   products-name-shop" >Feta Cheese</h5>
                <p class="card-text products-price-shop">$8.39
                </p>
                <div  class="summ-product-btn-shop">
                    <div class="counter-shop" >
                        <button class="minus  btn light" >-</button>
                        <input class="summ-products-input-shop btn light" type="number" min="0" max="1000000" step="1"
                            value="0">
                        <button class="plus  btn light">+</button>
                    </div>
                </div>
                <button class="btn light add-to-card-shop" type="submit" >Add to Cart</button>
            </div>
        </div>
        </div>



        <div class="col-3 column-shop">
            <div class="card shop-cards box ">
                <a href="ProductsInfo.html">
                <img class="shop-img-top" src="../gallery/p-14.jpg" alt="" style="position:relative;">
                </a>
                <hr class="hr-card">
                <div class="card-body">
                    <h5 class="card-title   products-name-shop" >Dole Mandarin Fruit Juice</h5>
                    <p class="card-text products-price-shop">$2.99
                    </p>
                    <div  class="summ-product-btn-shop">
                        <div class="counter-shop" >
                            <button class="minus  btn light" >-</button>
                            <input class="summ-products-input-shop btn light" type="number" min="0" max="1000000" step="1"
                                value="0">
                            <button class="plus  btn light">+</button>
                        </div>
                    </div>
                    <button class="btn light add-to-card-shop" type="submit" >Add to Cart</button>
                </div>
            </div>
            </div>


  

 


</div>

</div>









<div class="container shop-line">
    <div class="row row-shop">
    <div class="col-3 column-shop">
    <div class="card shop-cards box ">
        <a href="ProductsInfo.html">
        <img class="shop-img-top" src="../gallery/p-15.jpg" alt="" >
        </a>
        <hr class="hr-card">
        <div class="card-body">
            <h5 class="card-title  products-name-shop" >PICS Potato Chips</h5>
            <p class="card-text products-price-shop" >$1.99
            </p>
            <div  class="summ-product-btn-shop ">
                <div class="counter-shop">
                    <button class="minus  btn light">-</button>
                    <input class="summ-products-input-shop btn light" type="number" min="0" max="1000000" step="1"
                        value="0">
                    <button class="plus  btn light">+</button>
                    
                </div>
            </div>
            <div>
            <button class="btn light add-to-card-shop">Add to Cart</button>
        </div>
        </div>
    </div>
    </div>



    <div class="col-3 column-shop">
    <div class="card shop-cards box ">
        <a href="ProductsInfo.html">
        <img class="shop-img-top" src="../gallery/p-16.jpeg" alt="" style="position:relative;">
        </a>
        <hr class="hr-card">
        <div class="card-body">
            <h5 class="card-title   products-name-shop" >Marie Callender's Chicken</h5>
            <p class="card-text products-price-shop">$2.19
            </p>
            <div  class="summ-product-btn-shop">
                <div class="counter-shop" >
                    <button class="minus  btn light" >-</button>
                    <input class="summ-products-input-shop btn light" type="number" min="0" max="1000000" step="1"
                        value="0">
                    <button class="plus  btn light">+</button>
                </div>
            </div>
            <button class="btn light add-to-card-shop" type="submit" >Add to Cart</button>
        </div>
    </div>
    </div>



    <div class="col-3 column-shop">
        <div class="card shop-cards box ">
            <a href="ProductsInfo.html">
            <img class="shop-img-top" src="../gallery/p-17.jpeg" alt="" style="position:relative;">
            </a>
            <hr class="hr-card">
            <div class="card-body">
                <h5 class="card-title   products-name-shop" >Cantaloupe</h5>
                <p class="card-text products-price-shop">$1.98
                </p>
                <div  class="summ-product-btn-shop">
                    <div class="counter-shop" >
                        <button class="minus  btn light" >-</button>
                        <input class="summ-products-input-shop btn light" type="number" min="0" max="1000000" step="1"
                            value="0">
                        <button class="plus  btn light">+</button>
                    </div>
                </div>
                <button class="btn light add-to-card-shop" type="submit" >Add to Cart</button>
            </div>
        </div>
        </div>



        <div class="col-3 column-shop">
            <div class="card shop-cards box ">
                <a href="ProductsInfo.html">
                <img class="shop-img-top" src="../gallery/p-18.jpeg" alt="" style="position:relative;">
                </a>
                <hr class="hr-card">
                <div class="card-body">
                    <h5 class="card-title   products-name-shop" >Vegetable Tray with Buttermilk</h5>
                    <p class="card-text products-price-shop">$5.98
                    </p>
                    <div  class="summ-product-btn-shop">
                        <div class="counter-shop" >
                            <button class="minus  btn light" >-</button>
                            <input class="summ-products-input-shop btn light" type="number" min="0" max="1000000" step="1"
                                value="0">
                            <button class="plus  btn light">+</button>
                        </div>
                    </div>
                    <button class="btn light add-to-card-shop" type="submit" >Add to Cart</button>
                </div>
            </div>
            </div>


  

 


</div>

</div>

</div>


<div class="container page-link-class">
 
    <div class="indicator-page">
    <ul class="pagination" >
      
      <li class="page-item "><a class="page-link" th:href="@{/shop_1}">1</a></li>
      <li class="page-item "><a class="page-link" th:href="@{/shop_2}">2</a></li>
     
    </ul>
</div>

</div>


</div>
</div>
     




 
        

        
          

<!-- -------------------------------------------------------------------------- -->


        <div th:replace="content/Footer :: content"></div>
   





 <!-- all veb -->
      
   
    </div>
     <!-- -------------------------------------------------------------------------------------------------------------- -->


    <!-- chat -->
    <div th:replace="content/Chat :: content"></div>




<!-- View Cart -->
    <div th:replace="content/ViewCart :: content"></div>



        <!-- ------------------------------------------------------------------------------------------------------ -->






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <script  th:src="@{/js/FreshMarket.js}"></script>
    <script  th:src="@{/js/ShopProductSlider.js}"></script>




































</body>

</html>