<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}">Fresh Market</title>
    <script src="https://kit.fontawesome.com/44a5bc4613.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/FreshMarket.css}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet">
    
</head>

<body>

    <div class="allSite" >

    <!-- Navbar -->
<div class="container">


    <div th:replace="content/NavBar  :: content"></div>

    

      <!-- ------------------------------------------------------------------------------------------------- -->

        <div >

        <div id="carouselExampleCaptions" class="carousel slide container " data-bs-ride="carousel">
            <div class="carousel-indicators ">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner "  >
              <div class="carousel-item active"  >
                  <div class="opacity-slider box">
                <img src="/gallery/f-1.jpg" class="d-block w-100 " alt="0">
            </div>
                <div class="carousel-caption d-none d-md-block" >
                  <h5 class="carousel-title">FRESH MARKET</h5>
                  <p class="carousel-text"> We'll Deliver Everything
                    you need</p>
                    <a class="btn btn-light button-slider" th:href="@{/shop}" role="button">SHOP ONLINE</a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="opacity-slider">
                <img src="../gallery/f-2.jpg" class="d-block w-100" alt="1" >
                </div>
                <div class="carousel-caption d-none d-md-block" >
                    <h5 class="carousel-title">FRESH MARKET</h5>
                    <p class="carousel-text"> We'll Deliver Everything
                      you need</p>
                      <a class="btn btn-light button-slider" th:href="@{/shop}" role="button">SHOP ONLINE</a>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="opacity-slider">
                <img src="../gallery/f-3.webp" class="d-block w-100" alt="2">
                </div>
                <div class="carousel-caption d-none d-md-block" >
                    <h5 class="carousel-title">FRESH MARKET</h5>
                    <p class="carousel-text"> We'll Deliver Everything
                      you need</p>
                      <a class="btn btn-light button-slider" th:href="@{/shop}" role="button">SHOP ONLINE</a>
                  </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        </div>

    </div>



        <!-- ----------------------------------------------------------------------------------------- -->
       <!--Product Slider  -->
        <div id="slide-div" class="containter">
            <div id="carouselFade" class="carousel slide carousel-fade2" data-bs-ride="carousel">

                <div class="card-body weekly-card ">
                    <h5 class="card-title weekly-title">Weekly Deals</h5>
                    <p class="card-text weekly-text">Shop low
                        prices on award-winning products at Fresh Market. View our weekly specials, find recipes, and
                        shop quality brands in store or online.</p>
                </div>




                <div class="container products-slider ">
                    <div class="row row-slider">

                    <div class="card box products-box col-3 column-slider c-1">
                        <button class="btn card-special-price">Special Price</button>
                        <a class="linkProduct" href="">
                        <img class="card-img-top img-z-1"  alt="" >
                        </a>
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title title-z-1 products-name"></h5>
                            <p class="card-text text-z-1 products-price">
                            </p>


                        </div>
                        <hr style="margin-bottom: 5%">
                    </div>

                        <div class="card box products-box col-3 column-slider c-2">
                            <button class="btn card-special-price">Special Price</button>
                            <a class="linkProduct" href="">
                        <img class="card-img-top img-z-2" src="" alt="">
                        </a>

                        <hr>
                        <div class="card-body" >
                            <h5 class="card-title title-z-2  products-name" ></h5>
                            <p class="card-text text-z-2 products-price">

                            </p>

                        </div>
                            <hr style="margin-bottom: 5%">
                    </div>

                    <div class="card box products-box col-3 column-slider c-3">
                        <button class="btn card-special-price">Special Price</button>
                        <a class="linkProduct" href="">
                        <img class="card-img-top img-z-3"  alt="">
                        </a>
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title title-z-3  products-name" ></h5>
                            <p class="card-text text-z-3 products-price">

                            </p>
                        </div>
                        <hr style="margin-bottom: 5%">
                    </div>


                    <div class="card box products-box col-3 column-slider c-4">
                        <button class="btn card-special-price">Special Price</button>
                        <a class="linkProduct" href="">
                        <img class="card-img-top  img-z-4" src="" alt="">
                        </a>
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title title-z-4  products-name" >
                               </h5>
                            <p class="card-text text-z-4 products-price">
                            </p>
                        </div>
                        <hr style="margin-bottom: 5%">
                    </div>






                </div>



                <button class="carousel-control-prev" type="button" data-bs-target="#slide-div" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon div-icon-1" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#slide-div" data-bs-slide="next">
                    <span class="carousel-control-next-icon div-icon-2" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


        </div>
        <div class="container">
            <hr class="light hr-products-slider">
        </div>






        
        <!-- ------------------------------------------------------------------------------------------------------------ -->
           <!-- Product list -->
        <div class="containter">

            <div class="card-Grab container">
                <div class="card-body card-body-Grab ">
                    <h5 class="card-title">Grab 'N Go</h5>
                    <p class="card-text-Grab">We are always
                        looking for new vendors to supply us with specialty and local products that delight our guests.
                        Submit your products through RangeMe today!</p>
                </div>


                <div class="container Grab-first-line">
                    <div class="row row-Grab"  >
                    <div class="col-3 column"  th:each="product : ${firstLine}">
                    <div class="card Grab-cards box " >
                            <a class="linkProduct" href="">
                        <img class="card-img-top" th:src="${product.productImg}" alt="" >
                        </a>
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title  products-name" th:text="${product.productName}"></h5>

                            <p class="card-text products-price">$
                            </p>
                            <p class="card-text products-price"  th:text="${product.productPrice}">
                            </p>

                            <div class="Grab-add-to-Cart" >
                                <a th:href="@{/shop}">
                            <button class="btn light add-to-card">
                                <i class="fas fa-shopping-cart"></i>
                                Go Shopping !</button>
                                </a>
                                <input type="hidden" id="jsonProductId" th:value='${product.productName}'/>
                        </div>
                        </div>
                    </div>
                    </div>






                </div>
        
            </div>


                <!-- -------------------------------------------------------------------------------- -->


            </div>
        </div>
        










            <!-- First Footeer -->
            <div class="container first-footer ">
                <div class="row">
                <div class="first-footer-card col-3 column-first-footer">
                    <img class="first-footer-img" src="../gallery/online-shopping.svg" alt="">
                    <h5 class="first-footer-title">Pick Up Options</h5>
                    <p>At checkout, choose from available days and times and which location works best for you to pick
                        up your order. You can also download the Fresh App right to your phone!</p>
                </div>

                <div class=" first-footer-card col-3 column-first-footer">
                    <img class="first-footer-img" src="../gallery/delivery-truck.svg" alt="">
                    <h5 class="first-footer-title">Same Day Delivery</h5>
                    <p> Same Day Delivery fresh market
                        The Greensboro, N.C.-based specialty supermarket chain said Thursday that same-day delivery
                        service is now available at all 161 of its stores in 22 states.</p>
                </div>

                <div class="first-footer-card-last col-3 column-first-footer">
                    <img class="first-footer-img" src="../gallery/caduceus-symbol.svg" alt="">
                    <h5 class="first-footer-title">Health & Safety Rules</h5>
                    <p>Food safety is an important issue at Fresh markets. Customers expect the food and products they
                        purchase to be grown and handled so that they will be safe to consume.</p>
                </div>
            </div>
            </div>




            <!-- ------------------------------------------------------------------------------------------------------------------- -->

        <div th:replace="content/Footer :: content"></div>


    </div>
     
   


    <!-- -------------------------------------------------------------------------------------------------------------- -->





  






  



<!-- ------------------------------------------------------------------------------------------------------ -->




    <!-- chat -->
    <div th:replace="content/Chat :: content"></div>




<!-- View Cart -->
    <div th:replace="content/ViewCart :: content"></div>

<!-- ----------------------------------------------------------------------------------------------------------------- -->







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <script  th:src="@{/js/FreshMarket.js}"></script>
    <script  th:src="@{/js/Slider.js}"></script>




</body>

</html>