<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fresh Market</title>
    <script src="https://kit.fontawesome.com/44a5bc4613.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/FreshMarket.css">
    <link rel="stylesheet" href="../static/css/productInfo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>

<body>

    <div class="allSite " >

        
        <nav class="container navbar navbar-default  fixed-top">
            <div class="container  navbar-expand-sm mt-3 fixed navbar-fresh">
                <div class="first-element">
                    <a href="FreshMarket.html" class="navbar-brand">
                        <img class="log-1" src="../gallery/kar.png" alt="" >
                            <p class="fresh">
                                &nbsp;Fresh Market</p>
                    
                    </a>
                </div>
                <div class="second-element-responsive">
                   <i class="fas fa-bars"></i>
            </div>

                <div class="second-element" >
                    <ul class="navbar-nav ml-auto row" >
                        <li class="navbar-item  item-nav-words col">
                            <a href="FreshMarket.html" class="nav-link">Home</a>
                        </li>

                        <li class="navbar-item item-nav-words col">
                            <a href="FreshMarketShop-1.html" class="nav-link">Shop</a>
                        </li>

                        <li class="navbar-item item-nav-words col">
                            <a href="../About.html" class="nav-link">About</a>
                        </li>

                        <li class="navbar-item item-nav-words col">
                            <a href="../Contact.html" class="nav-link">Contact</a>
                        </li>


                        <li class="navbar-item item-nav-words col">
                            <a href="LogIn.html" class="nav-link log-in-link " style="display: flex">
                              <i class="logo2 fas fa-user-circle"></i> <p > &nbsp;Login</p> 
                            </a>

                        </li>


                       
                          <li class="col navbar-item-shop">
                         <div class="shop-packet">
                          <a href="##" class="nav-link"  >
            <i class="fab fa-shopify logo3">
            </i>
            <p class="products-digit">0</p>
        </a>
    </div>
</li>

                    </ul>
                   
                </div>
               
            </div>
           
        </nav>




<div>
       <div class="container product-info">
<div class="row">
        <div class="home-block col-7">
    <div class="home">
        <div class="home-link-block">
        <a class="home-link" href="FreshMarket.html"> <b> Home</b></a>
    </div>
    <div >
    <p>/ ProductName</p>
    </div>


</div>


<div class="img-block">
<img class="img-product" src="../gallery/z-1.jpg" alt="">
</div>

<div  class="container product-details-block">
    <p class="products-details-text">
        POLAND SPRING Brand 100% Natural Spring Water has been a local favorite in the Northeast for generations. 
        Sourced from carefully selected springs in Maine since 1845, POLAND SPRING Spring Water contains naturally
         occurring minerals for a crisp, refreshing taste. So when you're looking for a trusted source of hydration 
        for any occasion, choose POLAND SPRING.
    </p>
</div>
        </div>

<!-- ---------------------------------------------- -->
<div class="product-info-block col-5">

    <div  class="container next-prev">
    <div class="next-prev-block">
        <a class="link-prev" href="">
        <p class="prev-text">
            Prev 
        </p>
        </a>
    </div>
    <div style="float: left;">
        <p>
            &nbsp;  | &nbsp;        </p>
    </div>
    <div >
       <a class="next-link" href="">
        <P class="next-text">
            Next
        </P>
    </a>
    </div>
</div>
    

   
    <div class="container block-info">
        <div>
            <p class="text-product-name">
                I'm a product
            </p>
        </div>
        <div>
            <p class="product-code">
                SKU: 0013
            </p>
        </div>

        <div>
            <p class="price-text">
                $9.99
            </p>
        </div>

        <div>
            <p class="quantity-text">Quantity</p>
        </div>

        <div>
            <div class="summ-product-btn">
                <div class="counter counter-product-info">
                    <button class="minus  btn light">-</button>
                    <input class="summ-products-input btn light" type="number" min="0" max="1000000" step="1"
                        value="0">
                    <button class="plus  btn light">+</button>
                </div>
            </div>
        </div>
        <button class="btn light add-to-card">Add
        to
        Cart</button>
        <button class="btn light add-to-card">Buy Now</button>
</div>





<div class="container product-info-slider">

<hr class="hr-product-slider">
<div class="slider-block-info">
    <div class="title-text-block">
        <h6  class="title-text-slider">Ingredients</h6>
    </div>
    <div  class = "plus-icon">
        <a href="##" >
            <i class="fas fa-plus"></i>
        </a>
    </div>
    <div class = "minus-icon">
        <a href="##" >
            <i class="fas fa-minus "></i>
        </a>
    </div>
    <div  class="list-collection container">
        <p>
            
100% natural spring water
zero calories, no sweeteners and no artificial colors or flavors
Contains naturally balanced minerals for a crisp
        </p>
    </div>
</div>


<hr  class="hr-product-slider">


<div  class="slider-block-info">
    <div class="title-text-block">
        <h6 class="title-text-slider">Refund Policy</h6>
    </div>
    <div  class = " plus-icon-price">
        <a href="##">
            <i class="fas fa-plus"></i>
        </a>
    </div>
        <div class = "minus-icon-price">
            <a href="##" >
                <i class="fas fa-minus "></i>
            </a>
        </div>
    
    <div class="container range-price" >
 <p>
    We accept returns within 30 Days
     of the product being delivered. Please contact us directly for a Return Authorizat
 </p>
 
    </div>
</div>


<hr class="hr-product-slider">




    <div  class="slider-block-info">
        <div class="title-text-block">
            <h6 class="title-text-slider">Shipping Info</h6>
        </div>
        <div  class = " plus-icon-ship">
            <a href="##">
                <i class="fas fa-plus"></i>
            </a>
        </div>
            <div class = "minus-icon-ship">
                <a href="##" >
                    <i class="fas fa-minus "></i>
                </a>
            </div>
        
        <div class="container range-ship" >
     <p>
        $5.99 on orders under $35
Free on orders of $35 or more
Marketplace and freight items count towards the $35, but shipping is case-by-case based on location
Two-day—Choose from millions of select items online—no membership needed!
     </p>
     <p>
        $5.99 on orders under $35
Free on orders of $35 or more
Marketplace and freight items count toward the $35 threshold, but shipping is case-by-case based on location
3 – 5 Day—Standard shipping on everything you need   
    </p>
     <p>
        $5.99 on orders under $35
        Free on orders of $35 or more
        Marketplace and freight items count toward the $35 threshold, but shipping is case-by-case based on location
        Freight—Made a big purchase? Get it delivered with the freight shipping method.
        Price is at the seller’s discretion.
        Marketplace and freight items count toward the $35 threshold, but shipping is case-by-case based on location
        Shipping for Marketplace items
        Marketplace and freight items count toward the $35 threshold, but shipping costs may be applied by the Marketplace Seller
     </p>
        </div>
    </div>
    
    <hr class="hr-product-slider">

</div>


</div>

</div>
</div>

</div>



    </div>
</div>

       </div>

        <!-- ----------------------------------------------------------------------------------------- -->
      

     
               




                <!-- ------------------------------------------------------------------------------------------------------------------- -->
          
                
                <!-- -------------------------------------- -->

<!-- Second fOOTER -->

<div class="footer second-footer container">

    <div class="row second-footer-row container">
    <div class="second-footer-block col-4 second-footer-col">
        <div>
            <h5 class="second-footer-title">STORE</h5>
        </div>
        <div class="second-footer-text" >
            <a class="second-footer-text-store" href="FreshMarketShop-1.html" >Shop
                All</a>
        </div>
        <div class="second-footer-text">
            <a class="second-footer-text-store" href="Shipping.html">Shipping
                & Returns</a>
        </div>
        <div class="second-footer-text" >
            <a  class="second-footer-text-store" href="Policy.html">Store
                Policy</a>
        </div>
        <div class="second-footer-text">
            <a class="second-footer-text-store" href="../Faq.html">FAQ</a>
        </div>
    </div>






    <div class="second-footer-block col-4 second-footer-col">
        <div>
            <h5 class="second-footer-title">ADDRESS</h5>
        </div>
        <div>
            <p class="second-footer-text-adress">500
                Terry Francois Street
            </p>
        </div>
        <div>
            <p  class="second-footer-text-adress">San
                Francisco, CA 94158</p>
        </div>
    </div>




    <div class="second-footer-block col-4 second-footer-col">
        <div>
            <h5 class="second-footer-title">OPENING HOURS</h5>
        </div>
        <div>
            <p class="second-footer-text-opening-hours">5Mon
                - Fri: 7am - 10pm
            </p>
        </div>
        <div>
            <p class="second-footer-text-opening-hours" >
                Saturday: 8am - 10pm</p>
        </div>
        <div>
            <p class="second-footer-text-opening-hours">
                Sunday: 8am - 11pm</p>
        </div>
    </div>


    <div class=" second-footer-block col-4 second-footer-col-email">
        <div class="email-config">
        <div>
            <h5  class="second-footer-title">GET IT FRESH</h5>
        </div>
        <div>
            <p class="second-footer-text-Get-it"  ">
                Email
            </p>
        </div>
        <div class="footer-email">
            <input class="footer-email" required id="email" pattern=".+@gmail.com" class="email-btn" type="email">
        </div>
        <div class="second-footer-text" >
            <button class="btn btn-light btn-hover my-button">SUBSCRIBE
                NOW</button>
        </div>

        <div class="end-footer-icons ">
            <a class="end-footer-icon-a" href="">
                <i class="fab fa-youtube end-footer-icon-i"></i></a>
            <a class="end-footer-icon-a" href="" >
                <i class="fab fa-instagram end-footer-icon-i"></i></a>
            <a class="end-footer-icon-a" href="" >
                <i class="fab fa-facebook end-footer-icon-i"></i></a>
            <a class="end-footer-icon-a" href="">
                <i class="fab fa-twitter-square end-footer-icon-i"></i></a>

             
                
        </div>

    </div>
    </div>
</div>










</div>

<!-- END TEXT -->
<div class="container end">
<p class="end-text">
    © 2021 by Fresh Market
</p>
</div>
</div>





 <!-- all veb -->
    </div>

     <!-- -------------------------------------------------------------------------------------------------------------- -->
<!-- Chat icon -->
<div class="btn chat-logo container"  >
    <div class="my-chat" >
        <i class="chat-icon far fa-comment-dots"></i>
</div>
</div>

<!-- Chat body -->
<div class="container">
    <div class="chat">
             <div class="header-chat-box ">
                 <div>
                 <img class="header-chat-img" src="https://s3.ivisa.com/website-assets/blog/id-photo2.jpg" alt="">
                </div>
                <div>
                 <p class="header-chat-meneger-name">Benjamin</p>
                </div>
                  <div class="header-chat-close">
                   
                      <a href="##" class="close-chat">
                    <i  class="header-chat-close-icon btn light far fa-times-circle"></i>
                       </a>
                  </div>
                     <div class="container" style=" background-color: #2A6049;">
                        
                        <hr class="header-chat-hr">
                    </div>

                </div>
                <div>
                    <div class="body-chat box">
                           
                          <div>
                              <p>
                                <i class="far fa-smile"></i> &nbsp; Let's Chat!
                              </p>
                              <p>
                                  Ask us any question. 
                              </p>
                              <p>
                                <i class="fas fa-bolt"></i> &nbsp;  We'll reply as soon as we can
                              </p>
                          </div>   
                          
                    </div>
                    <div class="container chat-date">
                         <p class="chat-date-text">
                           <i>13.04.2021</i> 
                         </p>
                    </div>

                </div>

                    <div class="container footer-chat-block" >
                        
                        <hr class="send-message-hr">
                       
                       
                <div class="container chat-footer"> 
                    <a href="##" style="text-decoration: none;">
                        <i class="fas fa-microphone-alt"></i>
                    </a>
     
                  
                 <input class="chat-footer-input" type="text">
                 
                 <button class="light chat-footer-button" >Send</button>
                </div>
            </div>   
                     
                
    
    </div>
</div>




<!-- View Cart -->
    <div class="card card-product-list ">
       
        <div class="card-header ">
            <a class="product-close" href="##"  >
            <i class="fa fa-angle-right card-header-icon">
            </i>
        </a>
            <h4 class="card-header-text">
                CART</h4>
        </div>
       
        <div class="card-body empty-card-body">
            <p class="empty-card-body-text">Card is empty</p>
        </div>
        
            <div class="card card-product-list-2">
                <img class="card-img-view" src="../gallery/p-15.jpg" alt="">
                <h5  class="card-title card-title-product-list">Feta Cheese</h5>
                <p  class="card-text-price">$8.39
                </p>
                <div class="card-products-control ">
                    <div class="counter">
                        <button class="minus  btn light" >-</button>
                        <input class="products-control-input btn light" type="number" min="1" max="1000000" step="1" value="1" >
                        <button class="plus  btn light">+</button>
                    </div>
                </div>
                <hr>
                <div class="card-body">
                    <p class="card-total">
                        <b>Total</b></p>
                    <p class="card-total-price"><b>$8.39</b></p>
                    <a href="VeiwCart.html">
                        <button class="add-to-card-view btn light" type="submit">View Cart</button>
                        </a>
                </div>
            </div>
        </div>











    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <script src="../static/js/FreshMarket.js"></script>
    <script src="../static/js/productInfo.js"></script>
    



































</body>

</html>