<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}">Fresh Market</title>
    <script src="https://kit.fontawesome.com/44a5bc4613.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/FreshMarket.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/viewcart.css}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>

<body>

    <div class="allSite " >


        <div th:replace="content/NavBar :: content"></div>





<div class="container view-cart-block">
    <div class="row row-view">
        <div class="section-1 col-8">
            <div>
   <p class="text-My-cart"><b> My Cart</b></p>
</div>


<div>
<hr class="hr-view-cart">
</div>


<div class="block-info">
    <div class="big-viewcart-price-block">
        <div class="price-functions">
            <div class="block-price-text">
                <p class="price-text-view"><b>$3.68</b></p>
                
            </div>
            <div class="view-close-icon-block">
                <a class="close-link" href="#">
                <i  class="far fa-times-circle"></i>
            </a>
            </div>
    
           
    
        </div>
    
       
        </div>


        <div class="block" style="display: flex;">
        
<div class="block-info-view-cart">
    <a href="ProductsInfo.html">
    <img class="view-img" src="../gallery/p-31.jpeg" alt="">
</a>
</div>


<div class="info-and-functions-block">
    <p class="view-cart-product-name">Power Water</p>
    <p class="view-cart-product-price"><b>$3.68</b> </p>
    
    <div class="summ-product-btn view-cart-btn">
        <div class="counter">
            <button class="minus  btn light minus-view" >-</button>
            <input class="summ-products-input btn light view-cart-input" type="number" min="0" max="1000000" step="1"
                value="0">
            <button class="plus  btn light plus-view">+</button>
        </div>
    </div>
</div>
</div>



  

</div>


<div class="view-card-second-hr-block">
    <hr class="view-card-second-hr">
</div>

<div class="prome-code-block">
    <i  class="fas fa-tag"></i>
    <p  class="promo-code-text">Enter a prome code</p>
    
</div>

<div class="add-note-block">
    <img class="add-note-img" src="../gallery/note.png" alt="">
    <p class="add-note-text">Add a note</p>
 </div>

<div class="ssl-block">
   <img class="ssl-img" src="../gallery/ssl-certificate.png" alt="">
</div>

</div>




<div class="section-2 col-4">
    <div>
    <p class="text-order-summary"><b> Order Summary</b></p>
</div>
<hr class="hr-order-summary">

<div class="order-summary-block">
<div class="block-subtotal">
    <p class="subtotal-text">Subtotal</p>
</div>

<div class="summary-price-block">
    <p><b> $3.68</b></p>
</div>

</div>


<div class="shipping-block">
<a class="text-shipping" href="#">Estimate Shipping</a>
</div>

<div class="hr-total-block">
<hr class="hr-total">
</div>

<div class="total-block-price">
<p  class="total-price-text"><b> Total</b></p>
<p class="total-all-price"><b>$3.68</b></p>
</div>

<div class="checkout-button-block">

    <button class="checkout">
        <i  class="fas fa-lock"></i>
        <p class="chekout-text">Checkout</p>
    </button>

</div>


</div>
</div>
</div>
        <!-- ----------------------------------------------------------------------------------------- -->
      

     
               




                <!-- ------------------------------------------------------------------------------------------------------------------- -->


        <div th:replace="content/Footer :: content"></div>
                

</div>





 <!-- all veb -->


     <!-- -------------------------------------------------------------------------------------------------------------- -->




    <!-- chat -->
    <div th:replace="content/Chat :: content"></div>




<!-- View Cart -->
    <div th:replace="content/ViewCart :: content"></div>
            




            
        <div class="container checkout-list">
            <div  class="container cheklist-block">
                <div class="cheklist-message-block" >
                    <div class="cheklist-close-block">
                        <a class="close-checkout" href="#">
                        <i class="far fa-times-circle chekout-close-icon"></i>
                    </a>
                    </div>
                <div class="checkout-title-block">
                    <p  class="checkout-title-text"><b> We are not able to accept online payments</b></p>
                </div>
                <div class="checkout-text-block">
                    <p class="checkout-text">Please contact us to complete your purchase. Thanks.</p>
                </div>
                <div class="checkout-button-block">
                    <button class="button-got-it">      
                       
                        <p class="button-got-it-text">Got it</p>
                    </button>
                </div>
            </div>
            </div>
        </div>









    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <script  th:src="@{/js/FreshMarket.js}"></script>
    <script  th:src="@{/js/viewCart.js}"></script>




































</body>

</html>