<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}">Fresh Market</title>
    <script src="https://kit.fontawesome.com/44a5bc4613.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/FreshMarket.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/viewcart.css}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>

<body>

    <div class="allSite " >


        <nav class="container navbar navbar-default  fixed-top">
            <div class="container  navbar-expand-sm mt-3 fixed navbar-fresh">
                <div class="first-element">
                    <a href="FreshMarket.html" class="navbar-brand">
                        <img class="log-1" src="../gallery/kar.png" alt="" >
                            <p class="fresh">
                                &nbsp;Fresh Market</p>
                    
                    </a>
                </div>
                <div class="second-element-responsive">
                   <i class="fas fa-bars"></i>
            </div>

                <div class="second-element" >
                    <ul class="navbar-nav ml-auto row" >
                        <li class="navbar-item  item-nav-words col">
                            <a href="FreshMarket.html" class="nav-link">Home</a>
                        </li>

                        <li class="navbar-item item-nav-words col">
                            <a href="FreshMarketShop-1.html" class="nav-link">Shop</a>
                        </li>

                        <li class="navbar-item item-nav-words col">
                            <a href="../About.html" class="nav-link">About</a>
                        </li>

                        <li class="navbar-item item-nav-words col">
                            <a href="../Contact.html" class="nav-link">Contact</a>
                        </li>


                        <li class="navbar-item item-nav-words col">
                            <a href="LogIn.html" class="nav-link log-in-link " style="display: flex">
                              <i class="logo2 fas fa-user-circle"></i> <p > &nbsp;Login</p> 
                            </a>

                        </li>


                       
                          <li class="col navbar-item-shop">
                         <div class="shop-packet">
                          <a href="##" class="nav-link"  >
            <i class="fab fa-shopify logo3">
            </i>
            <p class="products-digit">0</p>
        </a>
    </div>
</li>

                    </ul>
                   
                </div>
               
            </div>
           
        </nav>





<div class="container view-cart-block">
    <div class="row row-view">
        <div class="section-1 col-8">
            <div>
   <p class="text-My-cart"><b> My Cart</b></p>
</div>


<div>
<hr class="hr-view-cart">
</div>


<div class="block-info">
    <div class="big-viewcart-price-block">
        <div class="price-functions">
            <div class="block-price-text">
                <p class="price-text-view"><b>$3.68</b></p>
                
            </div>
            <div class="view-close-icon-block">
                <a class="close-link" href="#">
                <i  class="far fa-times-circle"></i>
            </a>
            </div>
    
           
    
        </div>
    
       
        </div>


        <div class="block" style="display: flex;">
        
<div class="block-info-view-cart">
    <a href="ProductsInfo.html">
    <img class="view-img" src="../gallery/p-31.jpeg" alt="">
</a>
</div>


<div class="info-and-functions-block">
    <p class="view-cart-product-name">Power Water</p>
    <p class="view-cart-product-price"><b>$3.68</b> </p>
    
    <div class="summ-product-btn view-cart-btn">
        <div class="counter">
            <button class="minus  btn light minus-view" >-</button>
            <input class="summ-products-input btn light view-cart-input" type="number" min="0" max="1000000" step="1"
                value="0">
            <button class="plus  btn light plus-view">+</button>
        </div>
    </div>
</div>
</div>



  

</div>


<div class="view-card-second-hr-block">
    <hr class="view-card-second-hr">
</div>

<div class="prome-code-block">
    <i  class="fas fa-tag"></i>
    <p  class="promo-code-text">Enter a prome code</p>
    
</div>

<div class="add-note-block">
    <img class="add-note-img" src="../gallery/note.png" alt="">
    <p class="add-note-text">Add a note</p>
 </div>

<div class="ssl-block">
   <img class="ssl-img" src="../gallery/ssl-certificate.png" alt="">
</div>

</div>




<div class="section-2 col-4">
    <div>
    <p class="text-order-summary"><b> Order Summary</b></p>
</div>
<hr class="hr-order-summary">

<div class="order-summary-block">
<div class="block-subtotal">
    <p class="subtotal-text">Subtotal</p>
</div>

<div class="summary-price-block">
    <p><b> $3.68</b></p>
</div>

</div>


<div class="shipping-block">
<a class="text-shipping" href="#">Estimate Shipping</a>
</div>

<div class="hr-total-block">
<hr class="hr-total">
</div>

<div class="total-block-price">
<p  class="total-price-text"><b> Total</b></p>
<p class="total-all-price"><b>$3.68</b></p>
</div>

<div class="checkout-button-block">

    <button class="checkout">
        <i  class="fas fa-lock"></i>
        <p class="chekout-text">Checkout</p>
    </button>

</div>


</div>
</div>
</div>
        <!-- ----------------------------------------------------------------------------------------- -->
      

     
               




                <!-- ------------------------------------------------------------------------------------------------------------------- -->

                

<!-- Second fOOTER -->

<div class="footer second-footer container">

    <div class="row second-footer-row container">
    <div class="second-footer-block col-4 second-footer-col">
        <div>
            <h5 class="second-footer-title">STORE</h5>
        </div>
        <div class="second-footer-text" >
            <a class="second-footer-text-store" href="FreshMarketShop-1.html" >Shop
                All</a>
        </div>
        <div class="second-footer-text">
            <a class="second-footer-text-store" href="Shipping.html">Shipping
                & Returns</a>
        </div>
        <div class="second-footer-text" >
            <a  class="second-footer-text-store" href="Policy.html">Store
                Policy</a>
        </div>
        <div class="second-footer-text">
            <a class="second-footer-text-store" href="../Faq.html">FAQ</a>
        </div>
    </div>






    <div class="second-footer-block col-4 second-footer-col">
        <div>
            <h5 class="second-footer-title">ADDRESS</h5>
        </div>
        <div>
            <p class="second-footer-text-adress">500
                Terry Francois Street
            </p>
        </div>
        <div>
            <p  class="second-footer-text-adress">San
                Francisco, CA 94158</p>
        </div>
    </div>




    <div class="second-footer-block col-4 second-footer-col">
        <div>
            <h5 class="second-footer-title">OPENING HOURS</h5>
        </div>
        <div>
            <p class="second-footer-text-opening-hours">5Mon
                - Fri: 7am - 10pm
            </p>
        </div>
        <div>
            <p class="second-footer-text-opening-hours" >
                Saturday: 8am - 10pm</p>
        </div>
        <div>
            <p class="second-footer-text-opening-hours">
                Sunday: 8am - 11pm</p>
        </div>
    </div>


    <div class=" second-footer-block col-4 second-footer-col-email">
        <div class="email-config">
        <div>
            <h5  class="second-footer-title">GET IT FRESH</h5>
        </div>
        <div>
            <p class="second-footer-text-Get-it">
                Email
            </p>
        </div>
        <div class="footer-email">
            <input class="footer-email email-btn" required id="email" pattern=".+@gmail.com" type="email">
        </div>
        <div class="second-footer-text" >
            <button class="btn btn-light btn-hover my-button">SUBSCRIBE
                NOW</button>
        </div>

        <div class="end-footer-icons ">
            <a class="end-footer-icon-a" href="">
                <i class="fab fa-youtube end-footer-icon-i"></i></a>
            <a class="end-footer-icon-a" href="" >
                <i class="fab fa-instagram end-footer-icon-i"></i></a>
            <a class="end-footer-icon-a" href="" >
                <i class="fab fa-facebook end-footer-icon-i"></i></a>
            <a class="end-footer-icon-a" href="">
                <i class="fab fa-twitter-square end-footer-icon-i"></i></a>

             
                
        </div>

    </div>
    </div>
</div>










</div>

<!-- END TEXT -->
<div class="container end">
<p class="end-text">
    © 2021 by Fresh Market
</p>
</div>
</div>





 <!-- all veb -->
    </div>

     <!-- -------------------------------------------------------------------------------------------------------------- -->
<!-- Chat icon -->
<div class="btn chat-logo container"  >
    <div class="my-chat" >
        <i class="chat-icon far fa-comment-dots"></i>
</div>
</div>

<!-- Chat body -->
<div class="container">
    <div class="chat">
             <div class="header-chat-box ">
                 <div>
                 <img class="header-chat-img" src="https://s3.ivisa.com/website-assets/blog/id-photo2.jpg" alt="">
                </div>
                <div>
                 <p class="header-chat-meneger-name">Benjamin</p>
                </div>
                  <div class="header-chat-close">
                   
                      <a href="##" class="close-chat">
                    <i  class="header-chat-close-icon btn light far fa-times-circle"></i>
                       </a>
                  </div>
                     <div class="container" style=" background-color: #2A6049;">
                        
                        <hr class="header-chat-hr">
                    </div>

                </div>
                <div>
                    <div class="body-chat box">
                           
                          <div>
                              <p>
                                <i class="far fa-smile"></i> &nbsp; Let's Chat!
                              </p>
                              <p>
                                  Ask us any question. 
                              </p>
                              <p>
                                <i class="fas fa-bolt"></i> &nbsp;  We'll reply as soon as we can
                              </p>
                          </div>   
                          
                    </div>
                    <div class="container chat-date">
                         <p class="chat-date-text">
                           <i>13.04.2021</i> 
                         </p>
                    </div>

                </div>

                    <div class="container footer-chat-block" >
                        
                        <hr class="send-message-hr">
                       
                       
                <div class="container chat-footer"> 
                    <a href="##" style="text-decoration: none;">
                        <i class="fas fa-microphone-alt"></i>
                    </a>
     
                  
                 <input class="chat-footer-input" type="text">
                 
                 <button class="light chat-footer-button" >Send</button>
                </div>
            </div>   
                     
                
    
    </div>
</div>




<!-- View Cart -->
    <div class="card card-product-list ">
       
        <div class="card-header ">
            <a class="product-close" href="##"  >
            <i class="fa fa-angle-right card-header-icon">
            </i>
        </a>
            <h4 class="card-header-text">
                CART</h4>
        </div>
       
        <div class="card-body empty-card-body">
            <p class="empty-card-body-text">Card is empty</p>
        </div>
        
            <div class="card card-product-list-2">
                <img class="card-img-view" src="../gallery/p-15.jpg" alt="">
                <h5  class="card-title card-title-product-list">Feta Cheese</h5>
                <p  class="card-text-price">$8.39
                </p>
                <div class="card-products-control ">
                    <div class="counter">
                        <button class="minus  btn light" >-</button>
                        <input class="products-control-input btn light" type="number" min="1" max="1000000" step="1" value="1" >
                        <button class="plus  btn light">+</button>
                    </div>
                </div>
                <hr>
                <div class="card-body">
                    <p class="card-total">
                        <b>Total</b></p>
                    <p class="card-total-price"><b>$8.39</b></p>
                    <a href="ViewCart.html">
                        <button class="add-to-card-view btn light" type="submit">View Cart</button>
                        </a>
                </div>
            </div>
        </div>
            




            
        <div class="container checkout-list">
            <div  class="container cheklist-block">
                <div class="cheklist-message-block" >
                    <div class="cheklist-close-block">
                        <a class="close-checkout" href="#">
                        <i class="far fa-times-circle chekout-close-icon"></i>
                    </a>
                    </div>
                <div class="checkout-title-block">
                    <p  class="checkout-title-text"><b> We are not able to accept online payments</b></p>
                </div>
                <div class="checkout-text-block">
                    <p class="checkout-text">Please contact us to complete your purchase. Thanks.</p>
                </div>
                <div class="checkout-button-block">
                    <button class="button-got-it">      
                       
                        <p class="button-got-it-text">Got it</p>
                    </button>
                </div>
            </div>
            </div>
        </div>









    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <script  th:src="@{/js/FreshMarket.js}"></script>
    <script  th:src="@{/js/viewCart.js}"></script>




































</body>

</html>