
html{
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    html{
        font-size: 6px;
    }
}

@media only screen and (max-width: 768px) {
    html{
        font-size: 8px;
    }
}

@media only screen and (max-width: 992px) {
    html{
        font-size: 10px;
    }
}

@media only screen and (max-width: 1200) {
    html{
        font-size: 12px;
    }
}

body{
    background-color: #FBF9F1;
  
}



*{
    outline: none;
    
    }

.navbar{
    display: inline-block;
    width: 100%;
    background-color: #FBF9F1;
    
}

.navbar-fresh{
    display: inline;
}

.log-1{
    width:3.3rem;
     padding-bottom: 3%;
      border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}


.fresh{

    display: inline;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 3%;
    font-weight: 500;
    text-shadow: 0.2rem 0.7rem 0.5rem rgba(0,0,0,0.3), 
    0rem -0.4rem 1rem rgba(255,255,255,0.3);
   
}

.first-element .navbar-brand{
    text-shadow: rgb(236, 236, 230) 0.2rem 0 0 ;
    color: #2A6049;
    float: left;
    font-size: 2rem;
    padding-left: 1%;
    
}


.box {
    box-shadow:
    0 0.28rem 0.22rem rgba(0, 0, 0, 0.034),
    0 0.67rem 0.53rem rgba(0, 0, 0, 0.048),
    0 1.25rem 1rem rgba(0, 0, 0, 0.06),
    0 2.23rem 1.79rem rgba(0, 0, 0, 0.072),
    0 4.18rem 3.34rem rgba(0, 0, 0, 0.086),
    0 10rem 8rem rgba(0, 0, 0, 0.12)
  ;
    background: white;
  }



.second-element{
float: right;
font-weight: 300;
font-size: 1.3rem;
margin-right: 1%;

}

.second-element-responsive{
    display: none;
    color: #1b8155;
    font-size: 1.7rem;

}

@media only screen and  (min-width: 768px){
    .second-element{
      display: inline;
    }
}

@media only screen and (max-width: 572px) and (min-width: 1px){
    .navbar-item{
        border-bottom: 1px solid black;
        display: flex;
        justify-content: center;
    }

    .navbar-item-shop{
        border-bottom: 1px solid black;
        display: flex;
        justify-content: center;
    }
    .navbar-nav{
        background-color:#FBF9F1;
        width: 100%;
      
    }
}

@media only screen and (max-width: 768px) and (min-width: 1px){
    .second-element{
        display: none;
        width: 100%;
        justify-content: center;
       
    }
    .second-element-responsive{
     display: inline;
     
    }
   
}

.item-nav-words{
    padding-top: 1rem;
}

.navbar-item a{
    
    color: #2A6049;
}

.navbar-item{

    color: #2A6049;
    list-style-type: none;
}


.checkout{

    display: inline-block;
     border: none; 
     width: 100%;
      background-color: #2c6d51;
}

.checkout:hover{
    background-color: #398866;
    
}






.products-digit{
    position: relative;
     text-align: center; 
     color: #FBF9F1; 
     font-size: 1.2rem;
      border-radius: 80%;
        width: 1.7rem;
         height: 2.2rem;
         background-color: #2A6049;
          border: none;  
          margin-left:0.3rem;
           margin-top:0.9rem; 
}




.nav-link{
    color: #2A6049;
    text-decoration: none;
}

.nav-link:hover{
    color: #2A6049;
    text-decoration: none;
}

.logo2{
    font-size: 2rem;
    
}

.logo3{
    position: absolute;
}

.nav-link .logo3{
    font-size: 3.5rem;
}

.shop-packet{
    float: left;
}




.opacity-slider{
     margin-top: 12%;
    opacity: .7;
    
}

.carousel-caption{
    width: 42%;
    margin-bottom: 15%;
    text-shadow: 0.2rem 0.7rem 0.5rem rgba(58, 56, 56, 0.3), 
    0rem -0.4rem 1rem rgba(255,255,255,0.3);
}

.carousel-title{
    color: #2c6d51;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem ;
    background-color: rgba(59, 177, 153, 0.2);
    font-size: 350%;
    
}

.weekly-card{
    color:#2A6049;
      text-align: center;
       margin-top: 15%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.weekly-title{
    font-size:3rem;
}

.weekly-card p{
    font-size:1.2rem;
     margin-top: 4%;
      padding-bottom: 4%;
}

.products-slider{
  justify-content: space-between;
   
}
.row-slider{
    display: flex;
    justify-content: center;
    margin-left: 1.4%;
}

.products-box{
    height: auto;
     float:left;
      margin-left:0.5%;
      margin-right: 0.5%;
    
}

.column-slider{
  width: 21%;
  
}

@media only screen and (min-width: 992px) {
    .column-slider{
        width: 21%;
    }
}

@media only screen and (max-width: 992px) and (min-width: 768px){
    .column-slider{
        width: 30%;
    }
    .c-2{
        display: none;
    }
}

@media only screen and (max-width: 768px) and (min-width: 572px){
    .column-slider{
        width: 70%;
     
    }

    .c-2{
        display: none;
    }
    .c-3{
        display: none;
    }
    .c-4{
        display: none;
    }

    
}

@media only screen and (max-width: 572px) and (min-width: 0px){
    .column-slider{
        width: 60%;
        
    }
    .c-2{
        display: none;
    }
    .c-3{
        display: none;
    }
    .c-4{
        display: none;
    }
}



.carousel-text{
    font-size: 120%;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem ;
    color: #2c6d51;
    background-color: rgba(59, 177, 153, 0.2);
    margin-top: 5%;
    margin-bottom: 5%;
}

.button-slider{
    
    font-size: 1.2rem;
    font-weight: 500;
    color: #2A6049;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button-slider:hover{
    background-color: #2A6049;
    color: #FBF9F1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-img-top{
    width: 150%;
    height: auto;
    padding: 5%;
}

.card-special-price{
    position: absolute; 
    background-color:#2A6049;
    color: white;
     opacity: 0.9;
}

.products-name{
    font-size: 1rem; 
    margin-top:0rem;
    text-align: center;
    height: auto ;
}

.products-price{
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
}

.summ-product-btn{
    display: flex;
    justify-content: center;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}





.my-input2::-webkit-outer-spin-button,
.my-input2::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter{
    width: 100%; 
    display: flex;
    justify-content: center;
}



.summ-products-input{

    color: #fff;
    width: 40%;
    height: 2rem;
    background-color: #387058;
}

.add-to-card{
    background-color:#387058;
    color: white;
     margin-top: 0.5rem;
      width: 100%;
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
  padding-top: 11rem;  
  height: auto;
  width: 5%;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 4rem;
  color:#105235;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 4rem;
  color: #105235;
}

.hr-products-slider{
    margin-bottom: 10%; margin-top: 10%;
}

.card-Grab{
    background-color: white;
}

.card-body-Grab{
    color:#2A6049; 
     text-align: center; 
     padding-top: 15%;
     margin-bottom:5%;
     margin-left: 15%;
     margin-right: 15%;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-body-Grab h5{
    font-size:3rem;
}

.card-body-Grab p{
    font-weight: 300;
    font-size:1.3rem;
     margin-top: 10%;
      margin-bottom: 9%;
}


.Grab-first-line{
    display: flex;
      justify-content: center;
      width: 100%;
}

.Grab-second-line{
    display: flex;
      justify-content: center;
       margin-top: 5%;
       padding-bottom: 10%;
}

.Grab-cards{
    width: 90%;
     float:left;
      margin-left:4.5%;
       border: none;
       padding-bottom: 2%;
       margin-bottom: 6%;
}

.row-Grab{
    display: flex;
    justify-content: center;
}

.column{
    
    width: 25%;
}


@media only screen and (max-width: 992px) and (min-width: 768px){
    .column{
        width: 50%;
    }
}

@media only screen and (max-width: 768px) and (min-width: 572px){
    .column{
        width: 70%;
       
    }

    
}

@media only screen and (max-width: 572px) and (min-width: 0px){
    .column{
        width: 70%;
       
    }
}

.first-footer{
    margin-top: 20%;
     display: flex;
      justify-content: center;
}

.column-first-footer{
width: 30%;
}
.first-footer-card-last{
    width: 30%;
}

@media only screen and (max-width: 572px) and (min-width: 0px){
    .column-first-footer{
        width: 100%;
        border-right: none;
       
    }
    .first-footer-card-last{
    width: 100%;
    }
    
}

@media only screen and  (min-width: 572px){
    .column-first-footer{
        width: 30%;
       
    }
    .first-footer-card-last{
    width: 29%;
    }
}

.first-footer-card{
     text-align: center; 
      font-family: sans-serif;
       color: #2A6049; 
       float: left;  
      
         padding-left: 6%;
      
       
}

.first-footer-card-last{
    text-align: center; 
     font-family: sans-serif;
      color: #2A6049; 
      float: left;  
        padding-left: 5%;
}




.first-footer-img{
    width: 30%; 
    height: 30%;
     margin-bottom: 4%;
}

.first-footer-title{
    font-weight: 800;
     margin-bottom: 4%;
}


.second-footer{
    background-color: #2A6049; 
    width: 100%;
      margin-top: 17%;
       display: flex;
        justify-content:space-between;
         font-family:unset;
       
}

.second-footer-row{
    width: 100%;
   padding-left: 10%;
}

.second-footer-block{
     font-size: 1.1rem;
       margin-top: 5%; 
         margin-bottom: 5%; 
    justify-content: center;
}
.second-footer-col{
    width:30% ;
}

.second-footer-col-email{
    width:30% ;
}

.second-footer-title{
    color: rgb(255, 233, 233);
     font-weight: 300; 
     margin-bottom:5%;
}

.second-footer-text{
   margin-bottom: 3%; 
}

.second-footer-text-store{
    text-decoration:none;
     color: rgb(255, 233, 233);
      font-weight: 300;
}

.second-footer-text-store:hover{
    color: rgb(0, 0, 0);
}

.second-footer-text-adress{
    text-decoration:none;
     color: rgb(255, 233, 233);
      font-weight: 300;  margin: 0;
}

.second-footer-text-opening-hours{
    text-decoration:none;
     color: rgb(255, 233, 233);
      font-weight: 300;  margin: 0; 
}


.second-footer-text-Get-it{
    text-decoration:none;
     color: rgb(255, 233, 233);
      font-weight: 300; 
       margin: 0; 
}

.footer-email{
    width: 100%; 
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
}












.my-button {
    width: 100%;
     height: 4%;
      text-align: center;
       font-size: 0.9rem; 
       font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         color: #2A6049   ;
    outline: 0;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    border: 0.2rem solid white;
    background: white;
    color: #000;
    font-weight: 600;
    transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
}
.my-button:hover {
    background-color: white;
    color: #000;
    box-shadow: 0 0 0.5rem  white,
                0 0 2rem rgb(255 255 0 / 0.8),
                0 0 3.5rem rgb(255 255 0 / 0.7),
                0 0 5rem rgb(255 255 0 / 0.6);
    border-color: #fff;
}




.end-footer-icons{
    width: 100%;
     text-align: center;
       color:rgb(255, 233, 233) ;
       display: flex;
       justify-content: center;
       float: right;

}

.end-footer-icon-a{
    color: rgb(255, 255, 255);
    margin-top: 15%;
    padding-right: 0.6rem;

}

.end-footer-icon-a:hover{

    color: rgb(255, 255, 255);
}

.end-footer-icon-i{
    
     font-size: 2.5rem;
}

.end{
    background-color: #2A6049;
}

.end-text{
    padding-left: 10%;
     margin-bottom: 1%; 
     color: aliceblue;
}

@media only screen and (max-width: 572px) and (min-width: 0px){
    .second-footer-col{
    width: 100%;
    }
    .second-footer-col-email{
        width:100% ;
    }

    .email-config{
        width: 50%;
    }
    .end-text{
        padding-left: 40%;
    }
    .second-footer-block{
      padding-left: 25%;
    }
}

@media only screen and  (min-width: 572px){
    .second-footer-col{
        width: 20%;
    }
    .email-config{
        width: 100%;
    }
}





.loading{
    background-image: url("https://loading.io/spinners/progress/index.progress-bar-preloader.svg");
    background-repeat: no-repeat;
    background-size: 30rem;
    background-position: -4rem -13.4rem;
    outline: none;
    border: 0.1rem;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    
}




.my-chat {
    outline: 0;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    border: 0.2rem solid white;
    color: #000;
    font-weight: 600;
    transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
    position: absolute;
         right: 0;
         bottom: 0;
         width: 5%;
         height: auto; 
         margin: 2%;
           border-radius: 50%; 
           background:#306951; 
           position: fixed; 
}




.my-chat:hover {
    color: #000;
    box-shadow: 0 0 0.5rem  white,
                0 0 2rem rgb(150 150 150 / 0.8),
                0 0 3.5rem rgb(180 180 180 / 0.7),
                0 0 5rem rgb(180 180 180 / 0.6);
    border-color: #fff;
   
}


.chat-icon{
    color: white;
     justify-content: center;
      padding: 27%;
       font-size: 2.3rem;
}

.chat-icon:hover{
    
        
        color: rgb(255, 255, 255);
        box-shadow: 0 0 0.5rem  white,
                    0 0 2rem rgb(150 150 150 / 0.8),
                    0 0 3.5rem rgb(180 180 180 / 0.7),
                    0 0 5rem rgb(180 180 180 / 0.6);
        border-color: #fff;
        padding: 33%;
    
}





.chat{
    display: none;
     position: fixed;
      width: 25% ;
       height: auto; 
        right: 0;
         bottom: 0;
          background:white; 
           margin-bottom: 8%;
            margin-right: 3%; 
            border:1px solid #2A6049
}

.header-chat-box{
    height: 25%; 
    width: 100%;
     border-radius: 50%;
      display: inline;
       background-color: #2A6049; 
}

.header-chat-img{
    width: 25%;
      border-radius: 50%;
       padding: 5%;
         float: left;
          position: relative;
}

.header-chat-meneger-name{
    float: left;
     font-size: 1.1rem; 
     color: white;
      margin-top: 6%;
}

.header-chat-close{
    float: right;
     padding: 4%;
}

.header-chat-close-icon{
    border-radius: 50%; 
    color: white;
    font-size: 140%;
}

.header-chat-close-icon:hover{
    color: white;
}


.header-chat-hr{
    width: 100%;
     padding-top: 1%; 
     background:#387058;
}

.body-chat{
    text-align: center;
    height: auto;
    margin-bottom: 0;
    font-weight: 300; 
    font-family:inherit;
     padding-bottom: 1%;
}

.fa-smile{
    font-size: 1.5rem;
     color: #024b29;
}

.fa-bolt{
    font-size: 1.5rem; 
    color: #024b29;
}

.chat-date{
    padding-top: 2%;
     padding-bottom: 15%;
}

.chat-date-text{
    text-align: center;
     color: darkgrey;
}

.footer-chat-block{
    background:#387058;
}


.fa-microphone-alt{
    color: #003b22;
     color: white;
      font-size: 1.5rem;
       margin-right: 2%;
        margin-left: 2%;
}


.send-message-hr{
    width: 100%; 
    padding-top: 0.1rem;
     background:#387058;
}

.chat-footer{
    bottom: 0;
    padding-bottom: 5%;
    padding-top: 1%;
}

.chat-footer-input{
    margin-left: 5%;
     width: 70%;
      height: 10%;
       border: 0.1rem solid #387058; 
       border-radius:0.5rem 0.5rem 0.5rem 0.5rem;
       
}

.chat-footer-button{
    margin-left: 6%;
     border: 0.1rem solid white;
      background-color: #2A6049;
       color:white; 
       width: 25%; 
         border-radius:1rem 1rem 1rem 1rem; 
         font-size: 1.1rem;
         font-family: sans-serif;
}






@media only screen and (min-width: 1200px){
    .my-chat{
        width: 5%;
        border-radius: 50%;
    }
    .chat-icon{
        font-size: 1.8rem;
        padding: 30%;
    }
    .chat-footer-input{
        width: 55%;
    }
    .chat-footer-button{
        width: 23%;
    }

    .chat-icon:hover{
        padding: 33%;
    }
}




@media only screen and (max-width: 1200px) and (min-width: 992px){
    .my-chat{
        width: 5%;
        border-radius: 50%;
    }
    .chat-icon{
        font-size: 1.6rem;
        padding: 30%;
    }
    .chat-footer-input{
        width: 50%;
    }
    .chat-footer-button{
        width: 23%;
    }

    .chat-icon:hover{
        padding: 30%;
    }
}

@media only screen and (max-width: 992px) and (min-width: 768px){
    .my-chat{
        width: 5%;
    }
    .chat-icon{
        font-size: 1.5rem;
        padding: 30%;
    }

    .chat-footer-input{
        width: 50%;
    }
    .chat-footer-button{
        width: 22%;
        font-size: 0.8rem;
    }
    .chat-icon:hover{
        padding: 30%;
    }
}

@media only screen and (max-width: 768px) and (min-width: 674px){
    .my-chat{
        width: 5%;
       
    }
    .chat-icon{
        font-size: 1.3rem;
        padding: 30%;
    }
    .chat-footer-input{
        width: 50%;
    }
    .chat-footer-button{
        width: 25%;
        font-size: 0.8rem;
    }
    .fa-microphone-alt{
        font-size: 1.2rem;
    }
    .chat-icon:hover{
        padding: 32%;
    }
}



@media only screen and (max-width: 674px) and (min-width: 572px){
    .my-chat{
        width: 5%;
       
    }
    .chat-icon{
        font-size: 1.1rem;
        padding: 30%;
    }
    .chat-footer-input{
        width: 47%;
    }
    .chat-footer-button{
        width: 23%;
        font-size: 0.6rem;
    }
    .fa-microphone-alt{
        font-size: 1.1rem;
    }

    .chat-icon:hover{
        padding: 32%;
    }
}

@media only screen and (max-width: 572px) and (min-width: 0px){
    .my-chat{
        display: none;
       
    }
    .chat-icon{
        display: none;
    }
   
    .chat{
        display: none;
    }
   
    
}





.card-product-list{
    width: 25% ;
     height: 100%;   
        right: 0; 
        top: 0; 
        position: fixed; 
         display:none ;
}

.card-header{
    width:100% ;    
     height: 9rem;
      background-color: black;
       display: block;
    
}

.card-header-icon{
    font-size:3rem;
     color:white;
      float: left; 
      padding:10%;
}



.card-header-text{
    color: white; 
    text-align: center;
      font-weight: 300;
       float: left;
        padding-left:17%;
        padding-top: 12%;
}


.empty-card-body{
    width:100% ;
      background-color:white;
}

.empty-card-body-text{
    text-align: center;
     display: none;
}

.card-product-list-2{
    display: flex;
    justify-content: center;
    width: 100%; 
    float:left;
    border: none; 
}

.card-img-top{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  
}

.card-img-view{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.card-title-product-list{
    font-size:1.4rem;
     margin-top:0rem ;
      width: 100%;
       text-align: center;
        margin-top: 5%;
}

.card-text-price{
    font-size: 1.4rem;
     text-align: center;
      font-weight: 500;
      
}

.card-products-control{
    display: flex;
    justify-content: center;
    
}

.products-control-input{
    height: auto;
    background-color:black;
    color: white;
}

.products-control-input:hover{
    color: white;
}

.card-total{
    font-style: oblique;
     font-size: 2rem; 
     text-align: center;
      padding: 0;
       margin: 0;
}

.card-total-price{
    font-style: oblique;
     font-size: 1.3rem;
      text-align: center;
       padding: 0;
}

.add-to-card-view{
    background-color:black;
    color: white;
     margin-top: 0.08rem;
      width: 100%;
       padding-bottom: 0.8rem;
}


@media only screen and (max-width: 572px) and (min-width: 0px){
    .card-product-list{
        width: 50% ;
    }
}

@media only screen and  (min-width: 572px){
    .card-product-list{
        width: 25% ;
    }
}

input {outline:none;}

/* ============================================= */












        













     

















