
html{
  font-size: 12px;
}


@media only screen and (max-width: 600px) {
  html{
      font-size: 6px;
  }
}

@media only screen and (max-width: 768px) {
  html{
      font-size: 8px;
  }
}

@media only screen and (max-width: 992px) {
  html{
      font-size: 10px;
  }
}

@media only screen and (max-width: 1200) {
  html{
      font-size: 12px;
  }
}


.shop-all-products-list{
  background-color: white;
}

.shop-all-products-body{
  display: inline;
}

.first-section{
  float: left; 
  width: 20%;
   margin-left: 5%;
    margin-top: 3%;
}

.list-collection-sections{
  list-style-type: none;
   color: black;
}

.list-collection-sections-a{
  text-decoration: none;
   color: black;
}

.sort-all-options-block{
  width: 70%; 
  float: left;
   margin-left: 2%;
}

.sort-all-options{
  width: 100%;
   margin-left: 2.5%;
}

.shop-block{
    padding-top: 10%;
    padding-bottom: 5%;
     color:#2A6049; 
      text-align: center;
       margin-top: 10%; 
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.shop-title{
    font-size:3rem;
}

.sort-slider{
    width: 20%;
  
}



.shop-text{
    margin-left: 20%;
    margin-right: 20%;
    font-size:1.3rem; 
    margin-top: 3%;
     margin-bottom: 2%;
}

.sort-slider-details{
     justify-content: center;
}

.filter-block{
    margin-left: 5%;
    margin-right: 3%;
     width: 100%;
      float: left;
      font-family:'Courier New', Courier, monospace;
        margin-bottom: 100%; 
       
}

.text-filter-block{
margin-bottom:5% ;
}
.text-filtr-by{
    font-weight: 800;
}


.filter-title-hr{
    background-color: #000000;
     border: .01px solid #000000; 
     padding-bottom: 0;
      margin: 0;
}

.filter-body{
    display: inline-block;
     width: 100%;
      padding-top: 5%; 
}

.title--block{
    width:70%;
     float: left;
}

.title--text{
    font-size: 1.2rem;
     width: 100%;
}

.plus-icon{
    margin-top: 1%;
    float: right;
     margin-right: 3.5%;
}

.plus-icon-price{
    margin-top: 1%;
    float: right;
     margin-right: 3.5%;
}

.fa-plus{
    color: rgb(156, 154, 154);
     font-size: 1.1rem;
}

.minus-icon{
    margin-top: 1%;
    float: right;
     margin-right: 3.5%;
      display: none;
}

.minus-icon-price{
    margin-top: 1%;
    float: right;
     margin-right: 3.5%;
      display: none;
}

.fa-minus{
    color: rgb(156, 154, 154); 
    font-size: 1.1rem;
}


.list-collection {
    margin-top: 10%;
    margin-bottom: 10%;
     font-size: 1.2rem;
      display: none;
}


/* ---- */

.range-price{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    display: none;
}

.select-product-price{
    display: inline;
     margin-bottom: 5%;
}

.first-price{
    float: left;
    margin-right: 72%; 
    font-weight: 700;
}

.second-price{
    float: left;
     font-weight: 700;
}



.slider-range-block{
   width: 83%;
   margin-left: 3%;
}



.slider-labels {
    margin-top: 10px;
  }
  
  /* Functional styling;
   * These styles are required for noUiSlider to function.
   * You don't need to change these rules to apply your design.
   */
  .noUi-target,.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .noUi-target {
    position: relative;
    direction: ltr;
  }
  
  .noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  /* Fix 401 */
  }
  
  .noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  .noUi-handle {
    position: relative;
    z-index: 1;
  }
  
  .noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
     its values is > 50%. */
    z-index: 10;
  }
  
  .noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s,top .3s;
    transition: left 0.3s,top .3s;
  }
  
  .noUi-state-drag * {
    cursor: inherit !important;
  }
  
  /* Painting and performance;
   * Browsers can paint handles in their own layer.
   */
  .noUi-base,.noUi-handle {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  /* Slider size and handle placement;
   */
  .noUi-horizontal {
    height: 4px;
  }
  
  .noUi-horizontal .noUi-handle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    left: -4px;
    top: -4px;
    background-color: #000000;
  }
  
  /* Styling;
   */
  .noUi-background {
    background: #D6D7D9;
  }
  
  .noUi-connect {
    background: #000000;
    -webkit-transition: background 450ms;
    transition: background 450ms;
  }
  
  .noUi-origin {
    border-radius: 2px;
  }
  
  .noUi-target {
    border-radius: 2px;
  }
  
  
  
  /* Handles and cursors;
   */
  .noUi-draggable {
    cursor: w-resize;
  }
  
  .noUi-vertical .noUi-draggable {
    cursor: n-resize;
  }
  
  .noUi-handle {
    cursor: default;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
  }
  
  .noUi-handle:active {
    border: 8px solid #345DBB;
    border: 8px solid rgba(53,93,187,0.38);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    left: -14px;
    top: -14px;
  }
  
  /* Disabled state;
   */
  [disabled].noUi-connect,[disabled] .noUi-connect {
    background: #B8B8B8;
  }
  
  [disabled].noUi-origin,[disabled] .noUi-handle {
    cursor: not-allowed;
  }




/* ---- */


.sort{
    float: right;
    margin-top: 2%;
     margin-bottom: 3%;
      margin-right: 5%;
        width: 15%;
         font: 1em sans-serif;
}

.sort-options{
    width: 100%; 
     padding: 1%; 
     border-radius: 13px 13px 13px 13px ;
      border-color: #306951;
       color: black;
        overflow: hidden;
}

.shop-product-list{
     display: flex;
       justify-content: center;
        float: left;
         
         
}


.shop-card-list{
  width:75%;
   display: flex; 
    justify-content: center;
     float: left;
      margin-bottom: 7%;
        margin-left: 7%;
}

.shop-card-block{
  width: 20%; 
  float:left;
   margin-left:3%;
    border: none; margin-right: 3%;
}

.title-shop{
  font-size:0.8rem;
   margin-top:0px ; 
   text-align: center;
  
}

.text-shop-price{
  font-weight: 700;
   font-size: 1rem;
    text-align: center; padding: 0;
}


.card-functions{
display: flex;
 justify-content: center; 
}


.shop-first-line{
  display: flex;
  justify-content: center;
  width: 100%;
}
.row-shop{
  display: flex;
    justify-content: center;
}

.column-shop{
  width: 25%;
  
}

@media only screen and (max-width: 992px) and (min-width: 768px){
  .column-shop{
      width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 572px){
  .column-shop{
      width: 50%;
     
  }

  .first-section{
    width: 22%;
    
  }
  
}

@media only screen and (max-width: 572px) and (min-width: 0px){
  .column-shop{
      width: 70%;
     
  }
.first-section{
  width: 80%;
  
}

.filter-block{
  margin-bottom: 10%;
}

.sort-all-options-block{
  width: 100%;
  
}

}

.shop-cards{
  width: 85%;
  float:left;
   margin-left:4.5%;
    border: none;
    padding-bottom: 2%;
    margin-bottom: 6%;
}

.shop-img-top{
  width: 100%;
  height: auto;
  padding: 10%;
}

.products-name-shop{
  font-size: 0.7rem; 
  margin:0rem;
  padding: 0rem;

  text-align: center;
  height: auto ;
}

.products-price-shop{
  padding-top: 2% ;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}



.summ-product-btn-shop{
  display: flex;
    justify-content: center;
   
    
}

.counter-shop{
  width: 80%; 
  display: flex;
  justify-content: center;
  
}

.add-to-card-shop{
  background-color:#387058;
  color: white;
   margin-top: 0.2rem;
    width: 100%;
  font-size: 0.7rem;

}



.hr-card{
  margin: 0;
  padding: 0;
}



.shop-line{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}

.summ-products-input-shop{
  color: #fff;
  width: 40%;
  height: 1.5rem;
  background-color: #387058;
  margin-top: 5%;
}




.page-link-class{
  display: flex;
   margin-bottom: 7rem; 
   padding-top: 10%;
}

.indicator-page{
  margin-left: 50%;
}



.page-link{
  color: #ffffff;
  background-color: #2A6049;
}


.page-item a:hover{
  color: #ffffff;
  background-color: #649982;
}

