
html{
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    html{
        font-size: 6px;
    }
}

@media only screen and (max-width: 768px) {
    html{
        font-size: 8px;
    }
}

@media only screen and (max-width: 992px) {
    html{
        font-size: 10px;
    }
}

@media only screen and (max-width: 1200) {
    html{
        font-size: 12px;
    }
}


.product-info-block{
    width: 40%;
    margin-bottom: 0;
}

.col-5{
    width: 40%;
    margin-left: 5%; 
}



.product-info{
    display: flex;
     justify-content: center;
      background-color: white; 
      margin-top: 10%;
       width: 100%; 
}

.home-block{
     float: left;
}

.col-7{
    width: 50%;
}

.home{
    width: 100%;
     padding-top: 10%; 
     display: inline-block;
}

.img-block{
    margin-left: 30%;
     padding-bottom: 10%;
     margin-top: 18%;
}

.img-product{
    width: 70%;
}

.home-link-block{
    float: left;
     margin-left: 10%;
}


.product-details-block{
    font-size: 1.1rem;
     margin-left: 5%; 
     
}

.products-details-text{
    text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home-link{
    text-decoration: none;
     color:#2c6d51;
}

.next-prev{
    padding-top: 12%;
     padding-left: 60%;
}

.next-prev-block{
    float:left;
}

.link-prev{
    text-decoration: none;
     color: #2c6d51;
}

.prev-text{
    font-weight: 700;
     color: #2c6d51;
}

.next-link{
    text-decoration: none; 
    color: #2c6d51;
}

.next-text{
    float: left;
     font-weight: 700;
      color: #2c6d51;
}

.block-info{
    margin-top: 27%;
    display: block;
    float: left;
    width: 65%;
    margin-left: 19%;
}

.text-product-name{
    font-weight: 700;
    font-size: 1.2rem;
}

.product-code{
    font-weight: 300;
     font-size: 1.1rem;
}

.price-text{
    font-weight: 600;
    font-size: 1.3rem;
}

.quantity-text{
    font-weight: 300;
     font-size: 1.1rem;
}

.counter-product-info{
    margin-top: 15%;
    width: 100%;
}

.product-info-slider{
    margin-left: 20%;
    margin-top: 15%;
     width: 65%;
      float: left; 
      font-family:Verdana, Geneva, Tahoma, sans-serif;
       margin-bottom: 20%; 
}

.hr-product-slider{
    background-color: #61967f;
     border: .01rem solid #2A6049;
      padding-bottom: 0;
       margin: 0;
}

.slider-block-info{
    display:inline-block;
     width: 100%; 
     padding-top: 5%; 
}

.title-text-block{
    width:70%; 
    float: left;
}

.title-text-slider{
    font-size: 1.4rem;
     width: 80%;
     font-family:'Courier New', Courier, monospace;
}


.plus-icon-ship{
    float: right; 
    margin-right: 3%; 
}

.plus-icon-price{
    float: right; 
    margin-right: 3%;
}

.plus-icon{
    float: right; 
    margin-right: 3%;
}

.fa-plus{
    color: rgb(156, 154, 154);
     font-size: 1rem;
}

.fa-minus{
    color: rgb(156, 154, 154);
    font-size: 1rem;
}

.list-collection{
    margin-top: 10%; 
    display: none;
    float: right;
     margin-right: 1%;
      width: 100%;
       font-size: 1rem;
        padding-left: 10%;
         padding-top: 5%;
          padding-bottom: 5%;
}

.minus-icon{
    float: right; 
    margin-right: 1%;
     display: none; 
}

.minus-icon-price{
    float: right;
     margin-right: 1%; 
     display: none;
}


.range-price{
    display: none;
     float: right;
      margin-right: 1%;
       width: 100%;
        font-size: 1rem;
         padding-left: 10%;
          padding-top: 5%;
           padding-bottom: 5%;
}

.minus-icon-ship{
    float: right;
     margin-right: 1%;
      display: none;
}

.range-ship{
    display: none;
    float: right;
     margin-right: 1%;
      width: 100%;
       font-size: 1rem;
        padding-left: 10%;
         padding-top: 5%;
          padding-bottom: 5%;


}



@media only screen and (max-width: 572px) and (min-width: 0px){
    .col-7{
        width: 100%;
    }
    .col-5{
      width: 100%;
      margin-left: 0;
    }
    .next-prev{
    padding-left: 46%;
    }
    .img-block{
    padding-left: 25%;
    margin-left: 0;
    }
    .product-details-block{
     margin-left: 0;
    }
}

