body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: white;
}

.card {
    margin-bottom: 5%;
    border: none
}

.box {
    width: 500px;
    margin-top: 20px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 53%;
    background: white;
    ;
    text-align: center;
    transition: 0.25s;
  
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 35px;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0
}

ul.social-network li {
    display: inline;
    margin: 0 5px
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
    color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
}

.social-circle i {
    color: rgb(0, 0, 0);
    transition: all 0.8s;
    transition: all 0.8s
}

.close-log{
    position: absolute;
     right: 0 ;
      top: 0;
       font-size: 2rem;
        color: #000000;
         padding-top: 3%;
          padding-right: 10%;
           font-weight: 550;
}




.Sign-up-text-2{
    text-decoration: none;
    color: #2c6d51; 
}

.Sign-up-text-2:hover{
    color: #4a8a6f;
}



.Sign-up-already-text{
    text-align: center; 
    padding-top: 1%;
     font-size:large;
}